<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInRight">

			<div class="ibox-content m-b-sm border-bottom">
				<div class="text-center p-lg">
					<h2 ng-bind="'HELP.TITLE' | translate"></h2>
					<div style="font-size:14px; text-align:center;" ng-bind="'HELP.SUBTITLE' | translate"></div>
				</div>

				<div class="tabs-container">
	        <uib-tabset>
	          <uib-tab heading="Servicios">
	            <div class="panel-body">
	              <strong>Recursos Humanos</strong>
	              <ul class="list-help list-unstyled">
	              	<li ng-repeat="help in helpers_list"><a ui-sref="main.help.show({helpId: help.id})" ng-bind="help.name"></a></li>
	              </ul>
	            </div>
	          </uib-tab>
	        </uib-tabset>
	      </div>
			</div>
		</div>
	</div>
</div>
