<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox-content m-b-sm border-bottom">
    <div class="text-center p-lg">
    	<h2 ng-bind="help.name"></h2>
    	<span><div ng-bind-html="help.description"></div></span>
    </div>
	</div>

	<div class="row">
		<div class="col-lg-12" ng-repeat="step in help.steps">
	    <div class="contact-box">
        <div class="col-sm-4">
          <div class="text-center">
            <img ng-repeat="(key, image) in step.images" alt="image" class="img-sm m-t-xs img-responsive" src="https://s3.amazonaws.com/hrsolutions/document_help/{{image}}"
            ez-plus id="zoom_0{{key}}"
				    ezp-model="{thumb:IMGPATH, small:IMGPATH, large:IMGPATH}"
				    ezp-options="{zoomType: 'lens', lensShape: 'round', lensSize: 280}">
          </div>
        </div>
        <div class="col-sm-8">
          <h3><strong ng-bind="step.name"></strong></h3>
          <p align="justify" ng-bind-html="step.description"></p>
        </div>
        <div class="clearfix"></div>
	    </div>
		</div>
	</div>
</div>