
<h4 class="m-l-sm" style="padding-top: 10px;">Usuarios</h4>

<div class="row">
  <div class="col-md-12" >
    <tags-input ng-model="search_user" placeholder="Buscar" max-tags="1" on-tag-adding="addTag()" on-tag-removed="getAllUser()" remove-tag-symbol="x" on-tag-added='searching_nofavorites()' style="padding-left:15px;padding-right:15px;" replaceSpacesWithDashes="false"  ></tags-input>
  </div>
  <div ng-show="showSpinner==true" style="padding-left:15px;padding-right:15px;">
    <i class="fa fa-refresh fa-spin fa-lg"></i>
    <span class="">Buscando...</span>
  </div>
  <br>
    <br>
</div>
<div class="ibox">
    <h5 class="m-t-md m-l-sm m-r-sm" ng-init="favorite_employee=responsive('large')">
     <a ng-click="favorite_employee=!favorite_employee">
      <i ng-if="favorite_employee !== true" class="fa fa-chevron-right"></i>
      <i ng-if="favorite_employee === true" class="fa fa-chevron-down"></i> Favoritos</a>
      <span class="badge badge-warning pull-right" ng-bind="favorites.favorites.length"></span>
    </h5>

    <div class="jumbotron" ng-style="style_favorites" style="padding: 5px 5px 15px 5px !important;"
    ng-show="favorite_employee">
      <div class="full-height-scroll" full-scroll infinite-scroll srchttp="{{url_request('/favorite_employees')}}" list="favorites" namelist="favorites" callback="new_style_favorites" init-page="1" search="''" httpdata="{{http_data('favorites')}}" isloading="isloading">
        <div class="feed-element" ng-repeat="(keyFavorite,favorite) in favorites.favorites" ng-init="favorite.show=false;"  >
          <div class="media-body" style="cursor: pointer;" >
            <span  >
             <div class="row input-group" style="display: block;margin-right: 0px; margin-left: -13px;">
                <div class="col-xs-1 col-md-1">
                  <img alt="foto" class="img-circle" ng-src="{{favorite.image.url}}" ng-click="favorite.show=!favorite.show"  >
                </div>
                <div class="col-xs-8 col-md-8">
                  <input type="text" value="{{favorite.short_name  | special_capitalize}}" ng-click="favorite.show=!favorite.show"  class="no-borders" style="background-color: transparent;margin-left: 8px;width:115%;" readonly >
                </div>
              <div class="col-xs-1 col-md-1 input-group-btn pull-right"  style="margin-right: 5px;" >
                 <a class="btn btn-xs " ng-click="deleteToFavorite(favorite,keyFavorite)"><i class="fa fa-trash"></i></a>
               </div>
             </div>
            </span>
          </div>
         <div class="tabs-container feed-element" ng-show="favorite.show">
          <uib-tabset>
            <uib-tab  ng-if="favorite.phone">
              <uib-tab-heading>
                <i class="fa fa-phone"></i>
              </uib-tab-heading>
              <div class="panel-body no-padding text-lowercase" style="padding: 5px !important;">
                <span style="margin-left:15px;"> {{favorite.phone}}</span>
              </div>
            </uib-tab>
            <uib-tab ng-if="favorite.email">
              <uib-tab-heading>
                <i class="fa fa-envelope"></i>
              </uib-tab-heading>
              <div class="row panel-body text-lowercase" style="padding: 5px !important; " >
                <span style="margin-left:15px;">{{favorite.email}}</span>
              </div>
            </uib-tab>

          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ibox">
  <h5 class="m-t-md m-l-sm m-r-sm" ng-init="employees_remaining=responsive('large')">
    <a ng-click="employees_remaining=!employees_remaining">
      <i ng-if="employees_remaining !== true" class="fa fa-chevron-right"></i>
      <i ng-if="employees_remaining === true" class="fa fa-chevron-down"></i> Compañeros</a>
      <span class="badge badge-default pull-right">{{favorites.employees_remaining.length}}</span>
  </h5>
    <div class="jumbotron no-padding" style="height:300px;padding: 5px !important;" ng-show="employees_remaining" >
      <div class="full-height-scroll" full-scroll infinite-scroll srchttp="{{url_request('/favorite_employees')}}" list="favorites" namelist="employees_remaining" init-page="1" search="search_copy" httpdata="{{http_data('nofavorites')}}" isdata="showSpinner" isloading="isloading">
        <div class="feed-element"  ng-repeat="(keyPartner,partner) in favorites.employees_remaining">
         <div class="media-body" style="cursor: pointer;" >
           <span  >
            <div class="row input-group" style="display: block;margin-right: 0px; margin-left: -13px;">
               <div class="col-xs-1 col-md-1">
                 <img class="img-circle" ng-src="{{partner.image.url}}"  >
               </div>
               <div class="col-xs-8 col-md-8">
                <input type="text" value="{{partner.short_name  | special_capitalize}}"  class="no-borders text-capitalize" style="background-color: transparent;margin-left: 8px;width:115%;" readonly >
               </div>
              <div class="col-xs-1 col-md-1 input-group-btn pull-right"  style="margin-right: 5px;" >
               <a class="btn btn-xs btn" ng-click="addToFavorite(partner,keyPartner)"><i class="fa fa-star"></i></a>
              </div>
            </div>
           </span>
          </div>
        </div>
      </div>
    </div>
    <br>
</div>
