
<div class="ibox " >
  <div class="title">
    <h1 class="text-center">{{user.employee.name | special_capitalize}} <span ng-bind="'DASHBOARD.WELCOME_MSG.TITLE' | translate"></span></h1>
  </div>
  <div class="ibox-content  ngdialog-content">
    <p ng-bind="'DASHBOARD.WELCOME_MSG.MSG_PRIMARY' | translate"></p>
    <p class="text-center">
      <small  ng-bind="'DASHBOARD.WELCOME_MSG.MSG_SECUNDARY' | translate"></small>
    </p>
    <!-- <button ng-click="btnSolicitudes('main.request.index')" class="btn btn-primary btn-xs" >
    <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;
    <span  ng-bind="'DASHBOARD.WELCOME_MSG.NAME_ENLACE' | translate"></span>
  </button> -->
  <div >
    <button type="button" class="btn btn-default pull-right" ng-click="closeThisDialog('Cancel')" ng-bind="'FORM_BUTTON.CLOSE' | translate"></button>
  </div>
</div>
</div>
