<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="sidebard-panel" ng-class="padding_class">
  <div class="m-t-md">
    <div ng-include="'views/dashboard/_users.html'"></div>
  </div>
</div>
<div class="wrapper sidebar-content wrapper-content " >
  <div class="row">
    <div  class="col-md-12 col-lg-4 hide" id="days_vacations" >
      <div class="ibox float-e-margins ">
        <div class="hide">
          <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
          <div ng-bind="'DASHBOARD.VACATIONS.TITLE' | translate"></div>
          <div ng-bind="'DASHBOARD.VACATIONS.LABEL' | translate"></div>
          <div ng-bind="'DASHBOARD.VACATIONS.HELP' | translate"></div>
        </div>
        <widget-two-columns  srchttp="{{url_request('/employees/vacations_enjoy')}}" type="number" drawingtype="icon" icon="fa-calendar" labeltitle="{{vacations_label}}" titlewidget="{{vacations_title}}" help="{{vacations_help}}" keylist="days_vacations"></widget-two-columns>
      </div>
    </div>
    <div ng-if="$company.show_shart_severance" class="col-md-12 col-lg-4 hide" id="severances" >
      <div class="ibox float-e-margins">
        <div class="hide">
          <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
          <div ng-bind="'DASHBOARD.SEVERANCES.TITLE' | translate"></div>
          <div ng-bind="'DASHBOARD.SEVERANCES.LABEL' | translate"></div>
          <div ng-bind="'DASHBOARD.SEVERANCES.HELP' | translate"></div>
        </div>
        <widget-two-columns srchttp="{{url_request('/employees/severance_last_months')}}" type="currency" drawingtype="graph" labeltitle="{{severances_label}}" function="data_to_graph_severances" titlewidget="{{severances_title}}" help="{{severances_help}}" keylist="severances"></widget-two-columns>
      </div>
    </div>
    <div ng-if="$company.show_shart_severance_interest" class="col-md-12 col-lg-4 hide" id="severance_interest" >
      <div class="ibox float-e-margins">
        <div class="hide">
          <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
          <div ng-bind="'DASHBOARD.SEVERANCE_INTERESTS.TITLE' | translate"></div>
          <div ng-bind="'DASHBOARD.SEVERANCE_INTERESTS.LABEL' | translate"></div>
          <div ng-bind="'DASHBOARD.SEVERANCE_INTERESTS.HELP' | translate"></div>
        </div>
        <widget-two-columns srchttp="{{url_request('/employees/interests_severance_last_months')}}" type="currency" drawingtype="graph" labeltitle="{{severance_interest_label}}" function="data_to_graph_severances" titlewidget="{{severance_interest_title}}" help="{{severance_interest_help}}" keylist="severance_interest"></widget-two-columns>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-lg-12 ibox-custom-content-title-hover hide" id="income_and_deductions" >
      <div class="jumbotron  ibox-content" style="padding: 3px 20px 20px;">
        <div class="">
          <div class="hide">
            <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
            <div ng-bind="'DASHBOARD.INCOME_AND_DEDUCTIONS.TITLE' | translate"></div>
            <div ng-bind="'DASHBOARD.INCOME_AND_DEDUCTIONS.LABEL_1' | translate"></div>
            <div ng-bind="'DASHBOARD.INCOME_AND_DEDUCTIONS.LABEL_2' | translate"></div>
            <div ng-bind="'DASHBOARD.INCOME_AND_DEDUCTIONS.HELP' | translate"></div>
          </div>
          <span class="label label-default pull-right" tooltip-placement="left" uib-tooltip="{{income_and_deductions_help}}">?</span>
          <h2 class="font-bold ibox-custom-title">{{income_and_deductions_title}}</h2>
        </div>
        <br>
        <div >
          <graph-chart-progress-bars srchttp="{{url_request('/employees/income_and_deductions')}}" totaloneinfo='{{totalIncomes}}' totaltwoinfo='{{totalDeductions}}' function='data_to_graph_indeduc' keylist="income_and_deductions"></graph-chart-progress-bars>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="birthday_list" class="hide col-lg-4" ng-if="$company.show_birthday">
      <div class="ibox ibox-custom-hover">
        <div class="ibox-title">
          <div class="hide">
            <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
            <div ng-bind="'DASHBOARD.BIRTHDAYS.TITLE' | translate"></div>
            <div ng-bind="'DASHBOARD.BIRTHDAYS.HELP' | translate"></div>
          </div>
          <h5 ng-bind="'DASHBOARD.BIRTHDAYS.TITLE' | translate"></h5>
          <span class="label label-default pull-right" tooltip-placement="left" uib-tooltip="{{'DASHBOARD.BIRTHDAYS.HELP' | translate}}">?</span>
        </div>
        <div class="ibox-content no-padding" style="height:300px">
          <dates-widget srchttp="{{url_request('/employees/all_by_cumpleano_mes')}}" keylist="birthday_list" ></dates-widget>
        </div>
      </div>
    </div>
    <div id="aniversary_list" class="hide col-lg-4" ng-if="$company.show_labor">
      <div class="ibox ibox-custom-hover">
        <div class="ibox-title">
          <div class="hide">
            <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
            <div ng-bind="'DASHBOARD.ANIVERSARY.TITLE' | translate"></div>
            <div ng-bind="'DASHBOARD.ANIVERSARY.HELP' | translate"></div>
          </div>
          <h5 ng-bind="'DASHBOARD.ANIVERSARY.TITLE' | translate"></h5>
          <span class="label label-default pull-right" tooltip-placement="left" uib-tooltip="{{'DASHBOARD.ANIVERSARY.HELP' | translate}}">?</span>
        </div>
        <div class="ibox-content no-padding" style="height:300px">
          <dates-widget srchttp="{{url_request('/employees/all_by_fecha_de_ingreso')}}"  keylist="aniversary_list" ></dates-widget>
        </div>
      </div>
    </div>
    <div id="new_employees_list" class="hide col-lg-4" ng-if="$company.show_new_employees">
      <div class="ibox ibox-custom-hover">
        <div class="ibox-title">
          <div class="hide">
            <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
            <div ng-bind="'DASHBOARD.NEW_EMPLOYEES.TITLE' | translate"></div>
            <div ng-bind="'DASHBOARD.NEW_EMPLOYEES.HELP' | translate"></div>
          </div>
          <h5 ng-bind="'DASHBOARD.NEW_EMPLOYEES.TITLE' | translate"></h5>
          <span class="label label-default pull-right" tooltip-placement="left" uib-tooltip="{{'DASHBOARD.NEW_EMPLOYEES.HELP' | translate}}">?</span>
        </div>
        <div class="ibox-content no-padding" style="height:300px">
          <dates-widget srchttp="{{url_request('/employees/all_by_current_month_entry')}}" keylist="new_employees_list" ></dates-widget>
        </div>
      </div>
    </div>
  </div>
</div>
