@charset "UTF-8";

.orgchart .second-menu-icon {
    /*transition: opacity .5s;
    opacity: 1;*/
    right: -5px;
    top: -5px;
    z-index: 2;
    color: rgba(68, 157, 68, 0.5);
    font-size: 18px;
    position: absolute;
}
.orgchart .second-menu-icon:hover {
  color: #449d44;
}
.orgchart .node:hover .second-menu-icon {
  /*opacity: 1;*/
}
.orgchart .node .second-menu {
  display: none;
  position: absolute;
  top: 0;
  right: -70px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 1;
  height: 120px;
}
.hidden {
  display: none;
}
