<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="large-12 columns large-centered medium-centered small-centered">
			<div class="text-center">
				<pdf-certificates data="data_certificates" order="order_by" type="{{$state.current.data.file}}"></pdf-certificates>
			</div>
		</div>
	</div>
</div>