<div class="row">
  <div class="col-lg-12">
    <h2>{{'MANAGEMENT_CONTENT.VIEW.COMMENTS' | translate}}:</h2>

    <div class="social-feed-box" ng-repeat="comment in CommentArticle">
        <div class="social-avatar">
            <a href="" class="pull-left">
                <img alt="image" ng-src="{{comment.data_complete.employee_image.image.url}}">
            </a>
            <div class="media-body">
                <a href="#">
                    {{comment.data_complete.employee_short_name}}
                </a>
                <small class="text-muted">{{createDate(comment.data_complete.created_at)}}</small>
            </div>
        </div>
        <div class="social-body">
            <p>
               {{comment.data_complete.comment_text}}
            </p>
        </div>
    </div>
    <div class="social-feed-box">
      <div class="social-body">
        <div class="social-comment">
          <a href="" class="pull-left">
            <img alt="image" ng-src="{{userImagen}}" style="width:32px;height:32px;">
          </a>
          <div class="media-body">
              <textarea class="form-control" placeholder="{{'MANAGEMENT_CONTENT.VIEW.COMMENTS_WRITE' | translate}}" ng-model="newcomment.comment_text" ng-keypress="($event.which === 13)?saveComment():return"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
