<div class="ibox-custom-content-title-hover">
  <div class="row">
    <div class="col-md-8 visible-lg"> <!--   -->
      <canvas linechart options="lineOptions" data="lineData" height="114" responsive="true"></canvas>
    </div>
    <div class="col-md-4" ng-if="!wait">
      <div class="visible-lg m-t-lg"></div>
      <ul class="stat-list">
        <li>
          <h2 class="no-margins ">{{firsttotal | currency : symbol:0}}</h2>
          <small>{{totaloneinfo.title}}</small>
          <div class="progress progress-mini" ng-if="totaloneinfo.barprogress">
            <div class="progress-bar" style="width: {{calculatingPercentage(firsttotal,totaloneinfo.valfullpercent,totaloneinfo.uncalculatePercent)}}%;"></div>
          </div>
        </li>
        <li>
          <h2 class="no-margins ">{{secondtotal | currency : symbol:0}}</h2>
          <small>{{totaltwoinfo.title}}</small>
          <div class="progress progress-mini" ng-if="totaltwoinfo.barprogress">
            <div class="progress-bar" style="width: {{calculatingPercentage(secondtotal,totaltwoinfo.valfullpercent,totaltwoinfo.uncalculatePercent)}}%;" ></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
