<a class="dropdown-toggle" id="{{key}}" role="button" data-toggle="dropdown" >
  <div class="input-group date">
    <input type="text" id="{{key}}" class="form-control" ng-class="{error: ngmodel === '' && show_error }" data-ng-model="ngmodel" required>
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <datetimepicker data-ng-model="ngmodel"
  data-datetimepicker-config="config()"
  data-on-set-time="start_date_on_set_time()"
  data-before-render="start_date_before_render($view, $dates)"></datetimepicker>
</ul>
