<div class="row wrapper border-bottom white-bg page-heading" >
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <h2 ng-bind="data.title | translate"></h2>
    <ol ng-if="data.list.length !== 0" class="breadcrumb">
      <li>
        <a ui-sref="main.dashboard" ng-bind="'NAVIGATION.INDEX' | translate"></a>
      </li>
      <li ng-repeat="data in data.list" ng-class="data.state">
        <strong ng-if="is_active(data.state)" ng-bind="data.name | translate"></strong>
        <span class="text" ng-if="!is_route(data.url) && !is_active(data.state)" ng-bind="data.name | translate"></span>
        <a ng-if="is_route(data.url) && !is_active(data.state)" ui-sref="{{data.url}}" ng-bind="data.name | translate"></a>
      </li>
    </ol>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
    <div ng-if="data.helpId !== undefined" class="title-action">
      <a ui-sref="main.help.show({helpId: data.helpId})">
        <i class="fa fa-question-circle fa-lg "></i>
        <span class="nav-label" ng-bind="'NAVIGATION.HELP' | translate"></span>
      </a>
    </div>

  </div>
</div>
