<div ng-if="loading">
  <div class="m-t-lg" ng-show="show_cube_grid">
    <div class="sk-spinner sk-spinner-cube-grid" style="width:{{size}}px;height:{{size}}px">
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
      <div class="sk-cube"></div>
    </div>  
  </div>
</div>