<ng-pdf template-url="views/directives/view_pdf.html" canvasid="pdf-certificate" scale="1" ></ng-pdf>
<div class="loading-fa sk-spinner sk-spinner-three-bounce" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 1100;" ng-if="show_loading">
	<div class="sk-bounce1"></div>
	<div class="sk-bounce2"></div>
	<div class="sk-bounce3"></div>
</div>
