<div class="ibox">
                <div class="ibox-content">
          <div class="row">
            <div class="col-md-12 col-lg-12" >
              <a  ui-sref="main.content.view({articleId:columns.id})" class="btn-link">
                  <h3 class="text-justify" style="height:30px">
                      {{columns.titulo}}
                  </h3>
              </a>
            </div>
        <div class="" >
          <div class="col-md-8 col-lg-8 m-b-xs">
            <div class="small m-b-xs text-justify ">
              <strong>{{columns.employee.short_name}}</strong>
              <span class="text-muted"><i class="fa fa-clock-o"></i> {{columns.created_at | date:'dd MMM yyyy'}}</span>
            </div>
          </div>
          <div class="small col-md-4 col-lg-4 m-b-xs" style="height:35px" >
            <div ng-if="columns.employee.pernr=== employee_pernr" class="text-right">
            <div ng-if="true" class="text-right">
              <a class="btn btn-info btn-xs" tooltip-placement="top" uib-tooltip="Editar" ui-sref="main.content.edit({articleId:columns.id})">
                <i class="fa fa-pencil"></i>
              </a>
              <a class="btn btn-danger btn-xs" tooltip-placement="top" uib-tooltip="Eliminar" ng-click="deleteArticle(columns.id)">
                  <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
          <div class="col-md-12 col-lg-12">
            <p class="text-justify" style="height:100px">
                {{columns.ini}}
            </p>
          </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Categoria:</h5>
                    <button class="btn btn-white btn-xs" type="button"><i class="fa fa-tag"></i>{{columns.my_category.value}}</button>
                </div>
                <div class="col-md-6">
                    <div class="small text-right">
                        <h5>Estadisticas:</h5>
                        <div> <i class="fa fa-comments-o"> </i> {{columns.num_comments}} comentarios </div>
                        <i class="fa fa-eye"> </i> {{columns.num_views}} vistas
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
