<div class="dataTables_wrapper form-inline dt-bootstrap no-footer " id="DataTables_Table_5_wrapper" ng-class="tableResponse">
  <div id="DataTables_Table_5_length" class="dataTables_length"></div>
  <div class="dataTables_filter" id="DataTables_Table_5_filter">
    <div class="form-inline">
      <div class="form-group">
        <div class="btn-group" role="group" aria-label="dropdown">
          <div class="input-group">
            <div class="input-group-btn" uib-dropdown>
            <label type="button" class="btn btn-secondary" ng-bind="'SORT_TABLE.SEARCH_FOR' | translate"></label>
              <button tabindex="-1" class="btn btn-white" type="button" ng-bind="seizure_label"></button>
              <button class="btn btn-white" uib-dropdown-toggle type="button">
                <span class="caret"></span>
              </button>
              <ul uib-dropdown-menu>
                <li ng-click="change_search('$', data_any)" ng-class="dropdown_active('$', data_any)"><a ng-bind="data_any.value"></a></li>
                <li ng-repeat="val in dropdown_labels | orderBy : 'value.value'"  ng-click="change_search(val.key, val.value)" ng-class="dropdown_active(val.key, val.value)">
                  <a ng-bind="val.value.value"></a>
                </li>
              </ul>
            </div>
            <input ng-model="search_value" placeholder="Buscar" class="form-control" type="search">
          </div>
        </div>
      </div>
    </div>
</div>
  <table class="table table-striped table-bordered table-hover dataTable">
    <thead>
      <tr>
        <th ng-repeat="(key, label) in data_db.labels" ng-class="sort_class($index, label)" ng-click="sorting($index, key, label)">
          <div ng-bind="label.value"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="" ng-repeat="list in items =(data_db.list | filter: searching() | orderBy: get_predicate() : get_reverse()) | limitTo : pagesizerow : (pager.currentPage-1)*pagesizerow">
        <td ng-repeat="(key, val) in list" ng-if="key !== 'id'" ng-class="value_class(key)" ng-bind="field_bind(key, val)"></td>
      </tr>
    </tbody>
  </table>

  <div ng-if="!exists_data(data_db)" class="ibox-content ibox-heading" ng-class="tableResponse">
    <div ng-if="isResponse">
      <h3 ng-bind="'SORT_TABLE.GREETING' | translate"></h3>
      <small ><i class="fa fa-table"> <span ng-bind="'SORT_TABLE.NOTDATA_REPORT' | translate"></span></i> </small>
    </div>
    <div ng-if="!isResponse">
      <span><h3 ng-bind="'SORT_TABLE.LOADING_TITLE' | translate"></h3></span>
      <span><small ><i class="fa fa-cog fa-spin  fa-2x fa-fw"> </i> </small>
      <span ng-bind="'SORT_TABLE.LOADING_MSG' | translate"></span></span>
    </div>
  </div>
  <div ng-if="exists_data(data_db)" id="DataTables_Table_5_paginate" class="dataTables_paginate paging_simple_numbers">
      <ul class="pagination">
        <li id="DataTables_Table_5_previous" class="paginate_button previous " ng-class="classBtnPrev" >
           <a tabindex="0" data-dt-idx="0" aria-controls="DataTables_Table_5" ng-click="prevBtn()"><span ng-bind="'SORT_TABLE.PREVIOUS' | translate"></span></a></li>
          <li class="paginate_button " ng-repeat="(key, value) in pager.pages" ng-class="classPageActive(value)">
           <a  tabindex="{{key}}" data-dt-idx="{{key}}" aria-controls="DataTables_Table_5" ng-click="changePageIndex(value)"><span ng-bind="value"></span></a>
          </li>
        <li id="DataTables_Table_5_next" class="paginate_button next " ng-class="classBtnNext">
           <a tabindex="0" data-dt-idx="2" aria-controls="DataTables_Table_5" ng-click="nextBtn()"><span ng-bind="'SORT_TABLE.NEXT' | translate"></span></a></li>
      </ul>
      <div class=""><small ng-bind="'SORT_TABLE.TOTAL' | translate"> </small> <small ng-bind="pager.totalItems"></small></div>
    </div>
  </div>
