<div class="ibox">
  <div class="ibox-content" style="height: 120px">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="pull-right">
        <div class="btn-group">
          <div class="hide">
            <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
            <div ng-bind="'MANAGEMENT_SERVICES.TITLE' | translate"></div>
            <div ng-bind="'MANAGEMENT_SERVICES.BUTTON.TAKENS' | translate"></div>
            <div ng-bind="'MANAGEMENT_SERVICES.BUTTON.AVAILABLES' | translate"></div>
            <div ng-bind="'MANAGEMENT_SERVICES.BUTTON.ALL' | translate"></div>
          </div>
          <button class="btn btn-xs btn-white visible-lg visible-xl" ng-class="button_filter_active('ocupado')" type="button" ng-click="filter.type = 'ocupado';" ng-bind="'MANAGEMENT_SERVICES.BUTTON.TAKENS' | translate"></button>
          <button class="btn btn-xs btn-white visible-lg visible-xl" ng-class="button_filter_active('vacante')" type="button" ng-click="filter.type = 'vacante';" ng-bind="'MANAGEMENT_SERVICES.BUTTON.AVAILABLES' | translate"></button>
          <button class="btn btn-xs btn-white visible-lg visible-xl" ng-class="button_filter_active('')" type="button" ng-click="filter.type = '';" ng-bind="'MANAGEMENT_SERVICES.BUTTON.ALL' | translate"></button>
        </div>
      </div>
      <h2 ng-bind="'MANAGEMENT_SERVICES.TITLE' | translate"></h2>
    </div>
    <div class="col-sm-12 visible-lg visible-xl">
      <div class="input-group">
        <div class="hide">
          <!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
          <div ng-bind="'MANAGEMENT_SERVICES.SEARCH.INPUT' | translate"></div>
          <div ng-bind="'MANAGEMENT_SERVICES.SEARCH.BUTTON' | translate"></div>
        </div>
        <input type="text" placeholder="{{search_placeholder}}" ng-model="search" class="input form-control">
        <span class="input-group-btn">
          <button type="button" class="btn btn btn-primary" ng-bind="'MANAGEMENT_SERVICES.SEARCH.BUTTON' | translate"> <i class="fa fa-search"></i> </button>
        </span>
      </div>
    </div>
    </div>
    <div class="col-sm-12 visible-md visible-sm visible-xs">
        <ui-select ng-model="selected" on-select="show_profile($item, $model)"
           styles="width: 250px" >
          <ui-select-match placeholder="Buscar empleado">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices group-by="'position'" repeat="item in (items | filter: $select.search)" ><!--  track by item.position -->
            <div class="client-avatar" ng-if="item.id !== null ">
             <img  alt="    " ng-src="{{item.image.url}}">
             <span ng-bind-html="item.short_name"></span>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>
  </div>
    <div class="ibox-content visible-lg visible-xl">
      <div class="nav nav-tabs">
        <span class="pull-right small text-muted" ng-bind="items.length + ' Elementos'"></span>
      </div>
      <div class="tab-content">
        <div id="tab-1" class=" active" style="height: 370px;">
          <div class="full-height-scroll" full-scroll>
            <div class="table-responsive">
              <table class="table table-hover table">
                <thead>
                  <tr>
                    <th></th>
                    <th ng-bind="'MANAGEMENT_SERVICES.TABLE.TITLE.NAME' | translate"></th>
                    <th class="text-center" ng-bind="'MANAGEMENT_SERVICES.TABLE.TITLE.POSITION' | translate"></th>
                    <th class="text-center" ng-bind="'MANAGEMENT_SERVICES.TABLE.TITLE.SALARY' | translate"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, employee) in items = (employees | filter: filter | filter : search)" ng-class="active_profile(key, employee.amount)" ng-click="show_profile(key, employee)">
                    <td class="client-avatar"><img alt="" class="img-circle"  ng-src="{{employee.image.url}}"> </td>
                    <td ng-bind="employee.short_name"></td>
                    <td ng-bind="employee.posicion"></td>
                    <td class="text-right"><span class="label label-primary" ng-bind="amount_filter(employee.amount)"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
