<div class="">
  <div class="row m-b-sm m-t-sm" >
    <div class="col-md-4">
      <div class="btn-group">
        <label class="btn btn-white  btn-sm" ng-model="filter.type" ng-click="select_filter()" uib-btn-radio="'pending'" ng-bind="'REQUEST.BUTTON.SLOPES' | translate"></label>
        <label class="btn btn-white  btn-sm" ng-model="filter.type" ng-click="select_filter()" uib-btn-radio="'managed'" ng-bind="'REQUEST.BUTTON.MANAGED' | translate"></label>
      </div>
    </div>
    <div class="col-md-8">
      <div ng-if="view=='approved'" class="input-group">
        <input type="text" ng-model="search" placeholder="{{'REQUEST.SEARCH.INPUT' | translate}}" class="input-sm form-control"> <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-primary" ng-click="searching()" ng-bind="'REQUEST.SEARCH.BUTTON' | translate"></button> </span>
      </div>
    </div>
  </div>
  <div id="table_list" style="padding: 15px 15px 15px; height: 500px;">
    <div class="slimScrollDiv" full-scroll infinite-scroll srchttp="{{srchttp}}" list="data" namelist="approved" init-page="1" search="search_copy" httpdata="{{http_data}}" isloading="isloading" isdata="isdata">
      <div class="project-list" ng-class="tableResponse">
        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="(key, value) in data.approved">
              <td class="project-status" ng-if="view=='request'">
                <a ng-class="btn_states(value.status.identifier)[0]" tooltip-placement="top" uib-tooltip="Solicitud">
                  <i ng-class="icon_states(value.status.identifier)[0]"></i>
                </a>
                <a ng-class="btn_states(value.status.identifier)[1]" tooltip-placement="top" uib-tooltip="Aprobación Jefe Directo">
                  <i ng-class="icon_states(value.status.identifier)[1]"></i>
                </a>
                <a ng-class="btn_states(value.status.identifier)[2]" tooltip-placement="top" uib-tooltip="Aprobación Recursos Humanos">
                  <i ng-class="icon_states(value.status.identifier)[2]"></i>
                </a>
              </td>
              <td class="project-avatar" ng-if="view=='approved'">
                <div class="m-b-sm">
                  <img  alt="image" class="img-circle" ng-src="{{value.employee.image.url}}" style="width:50px; height: 50px;">
                </div>
              </td>
              <td class="project-title" ng-if="view=='approved'">
                <strong  ng-bind="value.employee.short_name"></strong>
              </td>
              <td class="project-title">
                <strong  ng-bind="value.types_requests.description"></strong>
              </td>
              <td class="project-title">
                <small ng-bind="'REQUEST.LIST.STATE' | translate"></small>
                <br/>
                <strong ng-bind="value.status.value"></strong>
              </td>
              <td class="project-status">
                <span ng-bind="value.created_at | date:dd/MM/yyyy"></span>
              </td>
              <td class="project-actions">
                <a class="btn btn-white btn-sm" ui-sref="{{route_directive(value.id)}}">
                  <i class="fa fa-clipboard"></i> {{'REQUEST.LIST.BUTTON.VIEW' | translate}}
                </a>
                <a ng-if="(value.status.identifier === pendind_aprove_boss && view=='request')" ng-click="delete_request(value.id)" class="btn btn-white btn-sm"><i class="fa fa-times"></i> {{'REQUEST.LIST.BUTTON.DELETE' | translate}} </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="data.approved.length === 0 && isloading=== false " class="ibox-content ibox-heading" >
        <h3>Estimado colaborador!</h3>
        <small><i class="fa fa-table"></i> No existen datos asociados.</small>
        <h3><p class="text-center" ng-if="view=='request'"> Ingresa a <a ui-sref="main.request.create" ><strong>+</strong> Crear Solicitud</a> </p></h3>
      </div>
      <div ng-if="data.approved.length === 0 && isloading=== true" class="ibox-content ibox-heading">
        <span><h3 ng-bind="'SORT_TABLE.LOADING_TITLE' | translate"></h3></span>
        <span><small ><i class="fa fa-cog fa-spin  fa-2x fa-fw"> </i> </small>
        <span ng-bind="'SORT_TABLE.LOADING_MSG' | translate"></span></span>
      </div>
    </div>
  </div>

</div>
