<div class="pull-left">
    <button class="btn btn-white btn-xs" type="button"><i class="fa fa-tag"></i>{{article.my_category.value}}</button>
</div>
<div class="small  m-b-xs pull-right">
    <div class="text-right">
        <a ng-if="ifCreate" class="btn btn-info btn-xs" tooltip-placement="top" uib-tooltip="Editar"
           ui-sref="main.content.edit({articleId:article.id})">
            <i class="fa fa-pencil"></i>
        </a>
        <a ng-if="ifCreate" class="btn btn-danger btn-xs" tooltip-placement="top" uib-tooltip="Eliminar"
           ng-click="deleteArticle(article.id)">
            <i class="fa fa-trash"></i>
        </a>
    </div>
</div>
<div class="text-center article-title">
    <span class="text-muted"><i class="fa fa-clock-o"></i> {{article.created_at | date:'dd MMM yyyy'}}</span>
    <h1>{{article.titulo}} </h1>
</div>
<div ng-bind-html="formatHtml(article.cuerpo)"></div>
<div class="text-right">
    <img class="img-circle" ng-src="{{article.employee.image.url}}" style="width:25px;height:25px;">
    <span class="text-muted"></i><strong>{{article.employee.short_name}}</strong></span>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h5>{{'MANAGEMENT_CONTENT.VIEW.CATEGORY' | translate}}:</h5>
        <button class="btn btn-white btn-xs" type="button"><i class="fa fa-tag"></i>{{article.my_category.value}}
        </button>
    </div>
    <div class="col-md-6">
        <div class="small text-right">
            <h5>{{'MANAGEMENT_CONTENT.VIEW.STATISTICS' | translate}}:</h5>
            <div><i class="fa fa-comments-o"> </i> {{article.num_comments}} {{'MANAGEMENT_CONTENT.VIEW.COMMENTS' | translate}}</div>
            <i class="fa fa-eye"> </i> {{article.num_views}} vistas
        </div>
    </div>
</div>
