<div  ng-hide="exists_pdf" >
  <div class=" col-md-10 col-md-offset-1">
    <div ng-include="template_message_error"></div>
  </div>
</div>
<div ng-show="exists_pdf" >
  <div class="col-md-10 col-lg-offset-1 ">
    <div class="ibox ">
      <!--ibox-title gray-bg no-borders-->
      <div class="">
        <div class="form-inline hidden-xs">
          <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="zoomIn()" data-tooltip aria-haspopup="true" title="Zoom (Aumentar Tamaño)"><span class="fa fa-search-plus fa-lg"></span></button>
                  <button type="button" class="btn btn-default" ng-click="zoomOut()" data-tooltip aria-haspopup="true" title="Zoom (Disminuir Tamaño)"><span class="fa fa-search-minus fa-lg"></span></button>
                  <a ng-href="{{pdfUrl}}" class="btn btn-default" target="_blank"
                  data-tooltip aria-haspopup="true" title="Imprimir">
                    <span class="fa fa-print fa-lg"></span>
                  </a>
                </div>
                <div class="input-group-btn" uib-dropdown>
                  <button tabindex="-1" class="btn btn-white" type="button" ng-bind="certificate_label"></button>
                  <button class="btn btn-white" uib-dropdown-toggle type="button">
                    <span class="caret"></span>
                  </button>

                  <ul uib-dropdown-menu>
                    <li ng-repeat="(key, data) in pdfs">
                      <a ng-bind="data.name_iden" ng-click="change_pdf(key, data)" ng-value="key" ng-class="dropdown_active(key, data)"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <ng-spinner type="cube-grid" loading="loading_spinner"></ng-spinner>
        <div class="hidden-xs center-orientation">
          <br/>
          <div ng-hide="loading_spinner" class="" >
            <canvas id="pdf-certificate" class="rotate0 white-bg"></canvas>
          </div>
        </div>
        <div class="visible-xs">
          <div ng-hide="loading_spinner">
            <a ng-href="{{pdfUrl}}" target="_blank" class="btn btn-primary btn-lg" tooltip-placement="right" uib-tooltip="Descargar"><i class="fa fa-download"></i> &nbsp;Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
