<div class="full-height-scroll" full-scroll>
	<div ng-if="!wait">
		<ul class="list-group">
			<li class="list-group-item profile-element" ng-repeat="employee in data">
				<img class="client-avatar img-circle" alt="image" ng-src={{employee.image.url}} style="height: 30px;width: 30px;">
				<span class="badge badge-plain" ng-bind="employee.date_show | date:'dd MMM'"></span>
				<input type="text" value="{{employee.short_name  | special_capitalize}}"  class="no-borders" style="background-color: transparent;margin-left: 8px;width:55%;" readonly >
			</li>
		</ul>
	</div>
</div>
