<div class="ibox-custom-content-title-hover" ng-hide="">
  <span class="label label-default pull-right" tooltip-placement="left" uib-tooltip="{{help}}">?</span>
  <h5 ng-bind="titlewidget"></h5>
  <div class="ibox-content no-padding " >
    <div class="widget style1 lazur-bg no-margins" >
      <div class="row">
        <div class="col-xs-6" ng-if="drawingtype=='icon'"
        style="padding-right: 5px;padding-left: 5px;">
        <i class="fa {{icon}} fa-5x"></i>
      </div>
      <div ng-if="drawingtype=='graph'" ng-class="responsive_col(total_months, 'graph')" style="padding-right: 5px;padding-left: 5px;">
        <div class="text-center container-small-graph no-padding lazur-bg no-borders" ng-if="loading_spinner==false">
          <div class="flot-chart small-graph">
            <div flot class="flot-chart-content" dataset="dataGraph" options="graphOptions"></div>
          </div>
        </div>
      </div>
      <div ng-class="responsive_col(total_months, 'total')"
      style="padding-right: 5px;padding-left: 5px;">
      <span ng-bind="labeltitle"></span>
      <h2 class="text-right font-bold" ng-if="value.length <= 5">
        <data ng-if="type=='number'" ng-bind="value | number"></data>
        <data ng-if="type=='currency'"  ng-bind="value | currency : symbol:0"></data>
      </h2>
      <h3 class="text-right font-bold" ng-if="value.length > 6 && value.length < 10">
        <data ng-if="type=='number'" ng-bind="value | number"></data>
        <data ng-if="type=='currency'"  ng-bind="value | currency : symbol:0"></data>
      </h3>
      <h4 class="text-right font-bold" ng-if="value.length >= 10">
        <data ng-if="type=='number'" ng-bind="value | number"></data>
        <data ng-if="type=='currency'"  ng-bind="value | currency : symbol:0"></data>
      </h4>
    </div>
  </div>
</div>
</div>
</div>
