<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>

<div class="wrapper wrapper-content">
  <div class="row">
    
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="file-manager">
            <!--
            <h5>Ver:</h5>
            <a href="" class="file-control">Documentos</a>
            <div class="hr-line-dashed"></div>
            <button class="btn btn-primary btn-block">Subir Archivos</button>
            <div class="hr-line-dashed"></div>
            -->
            <h5>Documentos</h5>
            <ul class="folder-list" style="padding: 0">
              <li ng-repeat="type in type_documents"><a ng-click="select_filter(type.id)"><i ng-class="filter_active(type.id)"></i> {{type.name}}</a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-9 animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div ng-repeat="document in documents | filter:{type: filter_type}" class="file-box">
            <div class="file">
              <!--<a href="">-->
                <span class="corner"></span>
                <div class="icon">
                  <i class="fa fa-file-{{document.extension}}-o"></i>
                </div>
                <div class="file-name">
                  <div class="document-name" ng-bind="document.name"></div>
                  <br/>
                  <small ng-bind="document.added"></small>
                  <div style="text-align: right;">
                    <a target="_blank" ng-href="https://s3.amazonaws.com/hrsolutions/document_management/company/{{document.url}}" class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Ver</a>
                    <a ng-click="download_file('https://s3.amazonaws.com/hrsolutions/document_management/company/'+document.url, document.name)" class="btn btn-xs btn-primary"><i class="fa fa-download"></i> Descargar</a>
                  </div>
                </div>
              <!--</a>-->
            </div>
          </div>

          <div ng-if="documents.length === 0" class="ibox-content ibox-heading" ng-class="tableResponse">
            <div ng-if="is_response">
              <h3 ng-bind="'SORT_TABLE.GREETING' | translate"></h3>
              <small ><i class="fa fa-table"> <span ng-bind="'SORT_TABLE.NOTDATA_REPORT' | translate"></span></i> </small>
            </div>
            <div ng-if="!is_response">
              <span><h3 ng-bind="'SORT_TABLE.LOADING_TITLE' | translate"></h3></span>
              <span><small ><i class="fa fa-cog fa-spin  fa-2x fa-fw"> </i> </small>
              <span ng-bind="'SORT_TABLE.LOADING_MSG' | translate"></span></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
