.color-primary{
  color:@navy;
}
.background-color-primary{
  background-color:@navy;
}
.modal-body .note-group-select-from-files + .form-group{
display: none;
}
.container-small-graph{
height:65px !important;
}
.small-graph{
height:65px !important;
}
.file-list li.active {
border-left: 4px @navy solid;
}
/** subordinates_list **/
.btn-ms-report {
width: 52px;
}
.row-inactive {
-moz-user-select: none;
background-color: #f9f9f9;

td {
color:#979494;
span, &.label-primary{
background-color: #CECBCB !important;
}
}
}
.float-button{
position: fixed;
bottom: 50px;
right: 30px;
z-index: 100;
}
.float-button a{
height: 50px;
width: 50px;
display: block;
background: @navy;
padding: 9px 8px;
text-align: center;
color: #fff;
border-radius: 50%;
}
.disabled{
pointer-events:none;
opacity:0.4;
cursor: not-allowed;
}
.ibox-custom-content-title-hover:hover{
	.ibox-content{
	border: 0px solid @navy;
	border-radius: 5px 5px 5px 5px;
 -webkit-box-shadow: 0 3px 7px 0 @navy;
 -moz-box-shadow: 0 3px 7px 0 @navy;
  box-shadow: 0 3px 7px 0 @navy;
	};
}
.ibox-custom-hover:hover{
  border: 0px solid @navy;
	border-radius: 5px 5px 5px 5px;
 -webkit-box-shadow: 0 3px 7px 0 @navy;
 -moz-box-shadow: 0 3px 7px 0 @navy;
  box-shadow: 0 3px 7px 0 @navy;
}


.navbar-logout {
  float: right !important;
  margin-right: 15px;
  margin-top: -15px !important;
}

@media (min-width: 768px) {
  .navbar-logout {
    float: right !important;
    margin-right: -15px;
    margin-top: 0px !important;
  }
}
// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    outline: 0;
    background-color: @navy !important;
  }
}
.tag-list li a {
    font-size: 10px;
    background-color: #f8f8f8;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block !important;
}
.tags-input .tags.focused {
  border: 1px solid #ccc !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

//Style to perfect view tooltip top into scroll infinite directive
#table_list > .slimScrollDiv {
  position: inherit !important;
}

/**dashboard**/
.padding-users-ie {
  padding: 0px 15px 0px 0px !important;
}


.list-help li a {
  font-size: 15px;

  &:hover,
  &:focus {
    text-decoration:underline;
    color: @navy !important;
  }
}

.title-action {
    text-align: right;
    padding-top: 0px;
}
// Organigrama  OrgChart
.orgchart {
    height: 515px;
  //  width: 802px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image:0 ;
  // background-size: 10px 10px;
  background-origin: content-box;
  background-color: rgba(0,0, 0, 0)  ;
  border: 1px dashed rgba(0,0,0,0);
  padding: 36px;
  //padding-left: 165px;

}

.orgchart *, .orgchart *:before, .orgchart *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.orgchart.b2t {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.orgchart.l2r {
  position: absolute;
  transform: rotate(-90deg) rotateY(180deg);
  -ms-transform: rotate(-90deg) rotateY(180deg);
  -moz-transform: rotate(-90deg) rotateY(180deg);
  -webkit-transform: rotate(-90deg) rotateY(180deg);
  transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -webkit-transform-origin: left top;
}
.orgchart .hidden, .orgchart~.hidden {
  display: none!important;
}

.orgchart .verticalNodes ul {
  list-style: none;
  margin:0px;
  padding-left: 18px;
  text-align: left;
}
.orgchart .verticalNodes ul:first-child {
  margin-top: 2px;
}
.orgchart .verticalNodes>td::before {
  content: '';
  border: 1px solid rgba(217, 83, 79, 0.8);
}
.orgchart .verticalNodes>td>ul>li:first-child::before {
  top: -4px;
  height: 30px;
  width: calc(50% - 2px);
  border-width: 2px 0 0 2px;
}
.orgchart .verticalNodes ul>li {
  position: relative;
}
.orgchart .verticalNodes ul>li::before,
.orgchart .verticalNodes ul>li::after {
  content: '';
  position: absolute;
  left: -6px;
  border-color: rgba(217, 83, 79, 0.8);
  border-style: solid;
  border-width: 0 0 2px 2px;
}
.orgchart .verticalNodes ul>li::before {
  top: -4px;
  height: 30px;
  width: 11px;
}
.orgchart .verticalNodes ul>li::after {
  top: 1px;
  height: 100%;
}
.orgchart .verticalNodes ul>li:first-child::after {
  top: 24px;
  width: 11px;
  border-width: 2px 0 0 2px;
}
.orgchart .verticalNodes ul>li:last-child::after {
  border-width: 2px 0 0;
}


.orgchart .node .title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: @navy;
    color: @navy-text;
    border-radius: 4px 4px 0 0;
}

.loading-fa {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  height: 100px;
  width: 200px;
  z-index: 15;
}
.chart-container {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 300px;
    width: calc(100%  );
    //border: 1px dashed #aaa;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
}
.orgchart .node {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 3px;
  border: 2px dashed transparent;
  text-align: center;
  width:125px;

  transition: all 0.3s;
  webkit-transition: all 0.3s;
  opacity: 1;
  top: 0;
  left: 0;
}
.orgchart .node .content {
  width: 100%;
  height: 20px;
  font-size: 7px;
  text-transform: capitalize;
  line-height: 18px;
  border: 1px solid rgba(217, 83, 79, 0.8);
  border-radius: 0 0 4px 4px;
  text-align: center;
  background-color: #fff;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orgchart .second-menu-icon {
    transition: opacity .5s;
    opacity: 1;
    right: 51px;
    top: -14px;
    z-index: 2;
    color: @navy;
    font-size: 18px;
    position: absolute;
}

.orgchart .node .second-menu .avatar {
  width: 45px;
  height: 45px;
  float: inherit;
  border-radius: 30px;
}
.orgchart .node .second-menu .datacontent {
  width: 140px;
  height: 80px;
  float: left;
  margin: 5px;
}

.orgchart .node .second-menu {
  display: block;
  position: absolute;
  top: 0px;
  right: -1px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 2;
  width: 123px;
  height: 105px;
}


.orgchart .drill-icon {
  transition: opacity 1s;
  opacity: 1;
  right: 40px;
  top: 125px;
  z-index: 0;
  color: @navy;
  font-size: 34px;
  position: absolute;
}


.orgchart .poss-up {
  right: 48px;
  top: -70px;
}
.orgchart .poss-down {
  right: 50px;
  top: 150px;
}
.orgchart .poss-left {
  left:  -140px;
  top: 25px;
}
.orgchart .poss-right {
  right: -50px;
  top: 25px;
}

.orgchart .drill-icon:hover {
  color: @navy;
}
.orgchart tr.lines td.topLine {
  border-top: 2px solid @text-color;
}

.orgchart tr.lines td.rightLine {
  border-right: 1px solid @text-color;
  float: none;
  border-radius: 0px;
}

.orgchart tr.lines td.leftLine {
  border-left: 1px solid @text-color;
  float: none;
  border-radius: 0px;
}

.orgchart tr.lines .downLine {
  background-color: @text-color;
  margin: 0px auto;
  height: 80px;
  width: 3px;
  float: none;
}
.orgchart .node .topEdge {
  top: -4px;
}

.orgchart .node .bottomEdge {
  bottom: -4px;
}

.orgchart .node .horizontalEdge {
  width: 11px;
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  top: 5px;
}
.orgchart .node .rightEdge {
  right: -4px;
}
.orgchart .node .leftEdge {
  left: -4px;
}
.orgchart .node .topEdge {
  top: -4px;
}

.orgchart .node .bottomEdge {
  bottom: -4px;
}

.orgchart .node .horizontalEdge {
  width: 15px;
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  top: 5px;
}

.orgchart .node .rightEdge {
  right: -4px;
}

.orgchart .node .leftEdge {
  left: -4px;
}

.orgchart.r2l {
  position: absolute;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -webkit-transform-origin: left top;
}

.orgchart>.spinner {
  font-size: 100px;
  margin-top: 30px;
  color: rgba(68, 157, 68, 0.8);
}

.orgchart table {
  border-spacing: 0!important;
  border-collapse: separate!important;
}

.orgchart>table:first-child{
  margin: 50px auto;
}
.orgchart td {
  text-align: center;
  vertical-align: top;
  padding: 0;
}

.orgchart.l2r .node, .orgchart.r2l .node {
  width: 50px;
  height: 130px;
}

.orgchart .node>.spinner {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  vertical-align: middle;
  font-size: 30px;
  color: rgba(68, 157, 68, 0.8);
}

.orgchart .node:hover {
  background-color: rgba(238, 217, 54, 0.5);
  transition: .5s;
  cursor: default;
  z-index: 20;
}

.orgchart .node.focused {
  background-color: rgba(238, 217, 54, 0.5);
}

.orgchart .ghost-node {
  position: fixed;
  left: -10000px;
  top: -10000px;
}

.orgchart .ghost-node>* {
  fill: #ffffff;
  stroke: #bf0000;
}

.orgchart .node.allowedDrop {
  border-color: rgba(68, 157, 68, 0.9);
}

.orgchart.b2t .node .title {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
}

.orgchart.l2r .node .title {
  transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  -ms-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  -moz-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  -webkit-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  width: 120px;
}

.orgchart.r2l .node .title {
  transform: rotate(-90deg) translate(-40px, -40px);
  -ms-transform: rotate(-90deg) translate(-40px, -40px);
  -moz-transform: rotate(-90deg) translate(-40px, -40px);
  -webkit-transform: rotate(-90deg) translate(-40px, -40px);
  transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  width: 120px;
}

.orgchart .node .title .symbol {
  float: left;
  margin-top: 4px;
  margin-left: 2px;
}

.orgchart.b2t .node .content {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: center top;
  -ms-transform-origin: center top;
  -moz-transform-origin: center top;
  -webkit-transform-origin: center top;
}

.orgchart.l2r .node .content {
  transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  -ms-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  -moz-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  -webkit-transform: rotate(-90deg) translate(-40px, -40px) rotateY(180deg);
  transform-origin: top center;
  -ms-transform-origin: top center;
  -moz-transform-origin: top center;
  -webkit-transform-origin: top center;
  width: 120px;
}

.orgchart.r2l .node .content {
  transform: rotate(-90deg) translate(-40px, -40px);
  -ms-transform: rotate(-90deg) translate(-40px, -40px);
  -moz-transform: rotate(-90deg) translate(-40px, -40px);
  -webkit-transform: rotate(-90deg) translate(-40px, -40px);
  transform-origin: top center;
  -ms-transform-origin: top center;
  -moz-transform-origin: top center;
  -webkit-transform-origin: top center;
  width: 120px;
}

.orgchart .node .edge {
  font-size: 15px;
  position: absolute;
  color: rgba(68, 157, 68, 0.5);
  cursor: default;
  transition: .2s;
  -webkit-transition: .2s;
}

.orgchart.noncollapsable .node .edge {
  display: none;
}

.orgchart .edge:hover {
  color: @navy;
  cursor: pointer;
}

.orgchart .node .verticalEdge {
  width: calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  left: 5px;
}

.orgchart .node .horizontalEdge::before {
  position: absolute;
  top: calc(50% - 7px);
  top: -webkit-calc(50% - 7px);
  top: -moz-calc(50% - 7px);
}

.orgchart .node .rightEdge::before {
  right: 3px;
}

.orgchart .node .leftEdge::before {
  left: 3px;
}

.orgchart .node .toggleBtn {
  position: absolute;
  left: 5px;
  bottom: -2px;
  color: rgba(68, 157, 68, 0.6);
}

.orgchart .node .toggleBtn:hover {
  color: rgba(68, 157, 68, 0.8);
}

.oc-export-btn {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid transparent;
  border-color: #4cae4c;
  border-radius: 4px;
}

.oc-export-btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=30);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.3;
}

.oc-export-btn:hover,.oc-export-btn:focus,.oc-export-btn:active  {
  background-color: @navy;
  border-color: #347a34;
}

.orgchart~.mask {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.orgchart~.mask .spinner {
  position: absolute;
  top: calc(50% - 54px);
  left: calc(50% - 54px);
  color: rgba(255,255,255,0.8);
  font-size: 108px;
}

.orgchart .slide-down {
  opacity: 0;
  top: 40px;
}

.orgchart.l2r .node.slide-down, .orgchart.r2l .node.slide-down {
  top: 130px;
}

.orgchart .slide-up {
  opacity: 0;
  top: -40px;
}

.orgchart.l2r .node.slide-up, .orgchart.r2l .node.slide-up {
  top: -130px;
}

.orgchart .slide-right {
  opacity: 0;
  left: 130px;
}
.orgchart.l2r .node.slide-right, .orgchart.r2l .node.slide-right {
  left: 40px;
}

.orgchart .slide-left {
  opacity: 0;
  left: -130px;
}

.orgchart.l2r .node.slide-left, .orgchart.r2l .node.slide-left {
  left: -40px;
}

///  angucomplete
.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    top: 40px;
    left: 0px;
    margin-top: -6px;
    background-color: #ffffff;
    overflow-y: auto;
    max-height: 200px;
}
.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 10px;
    clear: both;
}
.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
    margin-top: -10px;
}

/** document_management/index **/
.document-name{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.document-name:hover {
  width: 100%;
  white-space: initial;
  overflow:visible;
  cursor: e-resize;
}
