<form role="form" name="form" ng-submit="saveContent(form,model_article)" novalidate>
<formly-form model="model_article" fields="fields" form="form"></formly-form>
    <div class="form-group">
     		<div class="text-center float-e-margins">
            <button class="btn btn-white" type="button" ui-sref="main.content.all" ng-bind="'FORM_BUTTON.CANCEL' | translate"></button>
            <button class="btn btn-primary" type="submit" ng-disabled="sending" ng-if="form.$valid" ng-bind="'FORM_BUTTON.SAVE_CHANGE' | translate"></button>
            <button class="btn btn-primary" type="button" ng-if="!form.$valid" ng-click="model_article.show_error= true" ng-bind="'FORM_BUTTON.SAVE_CHANGE' | translate"></button>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
</form>
