<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="loading-fa sk-spinner sk-spinner-three-bounce" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 1100;" ng-if="show_loading">
	<div class="sk-bounce1"></div>
	<div class="sk-bounce2"></div>
	<div class="sk-bounce3"></div>
</div>
	<tour step="currentStep" >
	<div class="wrapper wrapper-content  animated fadeInRight blog" style="height-min:500px;">
		<div class="row ">
			<div class=" col-lg-4" ng-repeat="(iArticle, article) in articles">
						<preview-articles datapreview="article" fndelete="deleteArticle" viewroute="main.content.view" editroute="main.content.edit" pk="id"></preview-articles>
			</div>
		</div>
</div>


	<div ng-if="user.employee.new_cont=='true'" class="float-button">
			 <a ui-sref="main.content.new" tooltip-placement="top" uib-tooltip="Nuevo" class="btn-primary float-button " style="padding-top: 13px;">
				 <i class="fa fa-plus fa-2x" ></i>
			 </a>
			 <a ng-if="!$user.employee.has_articles" tourtip-title="{{'MANAGEMENT_CONTENT.TOUR_NUEVO.TITLE' | translate}}"
		 	tourtip="{{'MANAGEMENT_CONTENT.TOUR_NUEVO.TIPS' | translate}}"  tourtip-placement="{{'MANAGEMENT_CONTENT.TOUR_NUEVO.PLACEMENT' | translate}}"
		 	tourtip-next-label="&nbsp; {{'MANAGEMENT_CONTENT.TOUR_NUEVO.NEXTLABEL' | translate}}"></a>
	</div>
</tour>
<script id="tour/tour.tpl.html" type="text/ng-template">
	<div class="tour-tip">
		<span class="tour-arrow tt-{{ ttPlacement }}" ng-hide="centered"></span>
		<div class="tour-content-wrapper">
			<p ng-bind="ttContent"></p>
			<a ng-bind="ttNextLabel" ui-sref="main.content.new"
			class="btn btn-primary btn-xs fa fa-plus">
		</a>
	</div>
</div>
</script>
