<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>

<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
		  <div class="ibox float-e-margins">
		      <div class="ibox-title">
		          <h5 >{{'MANAGEMENT_CONTENT.NEW.TITLE' | translate}}</h5>
		      </div>
		      <div class="ibox-content" ng-include="'views/articles/_form.html'">
		      </div>
		 	</div>
		</div>
	</div>
</div>
