<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="loading-fa sk-spinner sk-spinner-three-bounce" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 1100;" ng-if="show_loading">
	<div class="sk-bounce1"></div>
	<div class="sk-bounce2"></div>
	<div class="sk-bounce3"></div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article" ng-if="!show_loading">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content"  >
                    <view-article data="article"  fndelete="deleteArticle"  ></view-article>
                    <comments-box data="article"></comments-box>
                </div>
            </div>
        </div>
    </div>
</div>
