<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins table-responsive">
        <div class="ibox-content">
          <sort-table srchttp="{{$state.current.data.srchttp}}" pagesizerow="10"></sort-table>
        </div>
      </div>
    </div>
  </div>
</div>
