<div ng-hide="!$errors">
    <div class="alert alert-mini alert-danger">
        <!--<button type="button" class="close" data-dismiss="alert">-->
            <!--<span aria-hidden="true">×</span>-->
            <!--<span class="sr-only">Cerrar</span>-->
        <!--</button>-->
        <p>
            <strong ng-bind="'FORM_ERRROS.MESSAGE' | translate"></strong>
        </p>
        <ul>
            <li ng-repeat="error in $errors" ng-bind="error"></li>
        </ul>
    </div>
</div>