<!--
* INSPINIA - Responsive Admin Theme
* Copyright 2015 Webapplayers.com
* Version 2.5
*
-->

<!DOCTYPE html>
<html ng-app="Interactive">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Page title set in pageTitle directive -->
  <title page-title></title>

  <!-- Google Open Sans -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="scripts/vendor/summernote/dist/summernote.css" rel="stylesheet">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- Font awesome -->
  <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/nya-bootstrap-select/dist/css/nya-bs-select.min.css"  type="text/css">
  <link href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet">
  <!-- Libraries -->
  <link href="bower_components/angular-notify/dist/angular-notify.min.css" rel="stylesheet" type="text/css">
  <link href="bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet"  type="text/css">
  <link href="bower_components/ladda/dist/ladda-themeless.min.css" rel="stylesheet" type="text/css" >
  <link href="bower_components/angular-tour/dist/angular-tour.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="bower_components/select2/select2.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-custom-width.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-gantt/dist/angular-gantt.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-gantt/dist/angular-gantt-plugins.min.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-gantt/dist/angular-gantt-sortable-plugin.min.css"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-gantt/dist/angular-gantt-labels-plugin.js"  type="text/css">
  <link rel="stylesheet" href="bower_components/angular-gantt/dist/angular-gantt-tooltips-plugin.css"  type="text/css">
  

  <!-- Main Inspinia CSS files -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/odl.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/odl.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/hdv.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/hdv.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/publicar.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/publicar.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/rcntv.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/rcntv.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/hrsolutions.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/hrsolutions.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/default.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/default.css" rel="stylesheet">
  <!-- endbuild -->

  <link ng-href="{{$company.name_file_css.url}}" rel="stylesheet">

</head>

<body class="{{$state.current.data.specialClass}}" ng-background url="{{$company[$state.current.data.imgBackground].url}}">

  <!-- Main view  -->
  <div ui-view></div>


  <!-- build:js(.) scripts/vendor.js -->
  <!-- jQuery and Bootstrap -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/jquery-backstretch/jquery.backstretch.min.js"></script>
  <script src="bower_components/jquery-backstretch/jquery.backstretch.min.js"></script>
  <script src="bower_components/amplify/lib/amplify.store.js"></script>
  <script src="bower_components/ladda/dist/spin.min.js"></script>
  <script src="bower_components/ladda/dist/ladda.jquery.min.js"></script>
  <script src="bower_components/ladda/dist/ladda.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment/locale/es.js"></script>
  <script src="bower_components/moment-timezone/moment-timezone.js"></script>
  <script src="bower_components/moment-timezone/moment-timezone-utils.js"></script>
  <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
  <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="bower_components/pace/pace.min.js"></script>
  <script src="bower_components/ez-plus/src/jquery.ez-plus.js"></script>

  <script src="bower_components/pace/pace.min.js"></script>
  <script src="bower_components/orgchart/dist/js/jquery.orgchart.js"></script>
  <script src="bower_components/html2canvas/build/html2canvas.min.js"></script>

  <!-- Angular scripts-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_es-co.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/ng-idle/angular-idle.js"></script>
  <script src="bower_components/pdfjs-dist/build/pdf.js"></script>
  <script src="bower_components/pdfjs-dist/build/pdf.worker.js"></script>
  <script src="bower_components/angular-pdf/dist/angular-pdf.js"></script>
  <script src="bower_components/summernote/dist/summernote.min.js"></script>
  <script src="bower_components/angular-summernote/dist/angular-summernote.js"></script>
  <script src="bower_components/angular-notify/dist/angular-notify.min.js"></script>
  <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="bower_components/ngSweetAlert/SweetAlert.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="bower_components/api-check/dist/api-check.min.js"></script> <!-- must appear before formly.js -->
  <script src="bower_components/angular-formly/dist/formly.min.js"></script>
  <script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
  <script src="bower_components/angular-tour/dist/angular-tour-tpls.min.js"></script>
  <script src="bower_components/select2/select2.js"></script>
  <script src="bower_components/angular-ui-select2/src/select2.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
  <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
  <script src="bower_components/angular-moment/angular-moment.min.js"></script>
  <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
  <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
  <script src="bower_components/nya-bootstrap-select/dist/js/nya-bs-select.min.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js" type="text/javascript" ></script>
  <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
  <script src="bower_components/angular-native-dragdrop/draganddrop.min.js"></script>
  <script src="bower_components/angular-gantt/dist/angular-gantt.js"></script>
  <script src="bower_components/angular-gantt/dist/angular-gantt-plugins.js"></script>
  <script src="bower_components/angular-gantt/dist/angular-gantt-sortable-plugin.min.js"></script>
  <script src="bower_components/angular-gantt/dist/angular-gantt-labels-plugin.js"></script>
  <script src="bower_components/ng-device-detector/ng-device-detector.min.js"></script>
  <script src="bower_components/re-tree/re-tree.min.js"></script>
  <script src="bower_components/angular-ez-plus/js/angular-ezplus.js"></script>

  <script src="bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>


  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- Custom and plugin javascript -->
  <script src="scripts/inspinia/inspinia.js"></script>

  <!-- Anglar App Script -->
  <script src="scripts/inspinia/app.js"></script>
  <script src="scripts/inspinia/directives.js"></script>
  <!-- Inspinia Libraries -->
  <script src="scripts/inspinia/plugins/bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="scripts/interactive/main.js"></script>
  <!-- Angular Routes -->
  <script src="scripts/interactive/config/routes/routes.js"></script>
  <script src="scripts/interactive/config/routes/requests_routes.js"></script>
  <script src="scripts/interactive/config/routes/approveds_routes.js"></script>
  <script src="scripts/interactive/config/routes/articles_routes.js"></script>
  <script src="scripts/interactive/config/routes/consultation_routes.js"></script>
  <script src="scripts/interactive/config/routes/certificates_routes.js"></script>
  <script src="scripts/interactive/config/routes/devise_routes.js"></script>
  <script src="scripts/interactive/config/routes/document_management_routes.js"></script>
  <script src="scripts/interactive/config/routes/helpers_routes.js"></script>
  <!-- end Routes -->
  <script src="scripts/interactive/config/vars_enviroment.js"></script>
  <script src="scripts/interactive/config/login_config.js"></script>
  <script src="scripts/interactive/config/formly_config.js"></script>
  <script src="scripts/interactive/resources/company_info.js"></script>
  <script src="scripts/interactive/resources/favorites_employees.js"></script>
  <script src="scripts/interactive/resources/article.js"></script>
  <script src="scripts/interactive/resources/category_article.js"></script>
  <script src="scripts/interactive/resources/comment_article.js"></script>
  <script src="scripts/interactive/resources/session_users.js"></script>
  <script src="scripts/interactive/resources/responsive.js"></script>
  <script src="scripts/interactive/resources/request.js"></script>
  <script src="scripts/interactive/resources/request_type.js"></script>
  <script src="scripts/interactive/resources/approved_request.js"></script>
  <script src="scripts/interactive/resources/employee.js"></script>
  <script src="scripts/interactive/resources/document_management.js"></script>
  <!-- Angular Interactive Controllers -->
  <script src="scripts/interactive/controllers/devise_controller.js"></script>
  <script src="scripts/interactive/controllers/main_controller.js"></script>
  <script src="scripts/interactive/controllers/dashboard_controller.js"></script>
  <script src="scripts/interactive/controllers/profile_controller.js"></script>
  <script src="scripts/interactive/controllers/manager_service_controller.js"></script>
  <script src="scripts/interactive/controllers/requests_controller.js"></script>
  <script src="scripts/interactive/controllers/approveds_controller.js"></script>
  <script src="scripts/interactive/controllers/articles_controller.js"></script>
  <script src="scripts/interactive/controllers/orgchart_controller.js"></script>
  <!-- end controllers -->

  <!-- Angular Interactive Directives -->
  <script src="scripts/interactive/directives/widget_dates.js"></script>
  <script src="scripts/interactive/directives/pdf_certificates.js"></script>
  <script src="scripts/interactive/directives/graph_chart_progress_bars.js"></script>
  <script src="scripts/interactive/directives/widget_two_columns.js"></script>
  <script src="scripts/interactive/directives/sort_table.js"></script>
  <script src="scripts/interactive/directives/infinite_scroll.js"></script>
  <script src="scripts/interactive/directives/subordinates_list.js"></script>
  <script src="scripts/interactive/directives/preview_articles.js"></script>
  <script src="scripts/interactive/directives/view_article.js"></script>
  <script src="scripts/interactive/directives/comments_box.js"></script>
  <script src="scripts/interactive/directives/table_list.js"></script>
  <!-- Helpers directives-->
  <script src="scripts/interactive/directives/ng_spinner.js"></script>
  <script src="scripts/interactive/directives/ng_breadcrumb.js"></script>
  <script src="scripts/interactive/directives/helpers/input_text.js"></script>
  <script src="scripts/interactive/directives/helpers/input_hidden.js"></script>
  <script src="scripts/interactive/directives/helpers/page_services.js"></script>
  <script src="scripts/interactive/directives/helpers/select_options.js"></script>
  <script src="scripts/interactive/directives/helpers/loading_button.js"></script>
  <script src="scripts/interactive/directives/helpers/input_date_time.js"></script>
  <script src="scripts/interactive/directives/ng_background.js"></script>
  <!-- end directives -->

  <!-- Angular Interactive Services -->
  <script src="scripts/interactive/services/request_events.js"></script>
  <script src="scripts/interactive/services/request_forms.js"></script>
  <script src="scripts/interactive/services/swal_service.js"></script>
  <!-- End services -->

  <!-- Angular Filters -->
  <script src="scripts/interactive/filters/special_capitalize.js"></script>
  <!-- End Filters -->

  <!-- endbuild -->
</body>
</html>
