<div ng-if="request.state.id == 1">
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Solicitud">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Jefe Directo">
    <i class="fa fa-square-o"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Recursos Humanos">
    <i class="fa fa-square-o"></i>
  </a>
</div>
<div ng-if="request.state.id == 2">
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Solicitud">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Jefe Directo">
    <i class="fa fa-close"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Recursos Humanos">
    <i class="fa fa-close"></i>
  </a>
</div>
<div ng-if="request.state.id == 3">
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Solicitud">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Jefe Directo">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Recursos Humanos">
    <i class="fa fa-square-o"></i>
  </a>
</div>
<div ng-if="request.state.id == 4">
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Solicitud">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Jefe Directo">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Recursos Humanos">
    <i class="fa fa-close"></i>
  </a>
</div>
<div ng-if="request.state.id == 5">
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Solicitud">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Jefe Directo">
    <i class="fa fa-check"></i>
  </a>
  <a class="btn btn-info btn-outline btn-circle" tooltip-placement="top" uib-tooltip="Aprobación Recursos Humanos">
    <i class="fa fa-check"></i>
  </a>
</div>