<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInUp">

			<div class="ibox">
				<div class="ibox-title">
					<h5 ng-bind="'NAVIGATION.REQUEST_NEW' | translate"></h5>
				</div>
				<div class="ibox-content" style="min-height:500px">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<form role="form" class="row">
								<!-- <div ng-if="errors !== undefined">
									<div ng-repeat="error in errors" class="alert alert-warning alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<p><h5>{{ error }}</h5></p>
									</div>
								</div> -->
								<div class="col-sm-8 col-sm-offset-2">
									<formly-form model="model_request" fields="fields" form="form"></formly-form>
									<div ng-if="type_request.length === 0">
            					<div  class="alert alert-info alert-dismissible" role="alert">
											  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											  <p><h5 ng-bind="'REQUEST.NO_FOUND_REQUEST' | translate"></h5></p>
											</div>
            			</div>
								</div>
							</form>
							<form ng-if="model_request.type_id.value !== undefined" name="form" novalidate>
								<div ng-if="total_fields === 0 || (total_fields === 0 && model_form.available_contingent <= 0)" class="wrapper wrapper-content animated fadeInRight">
			            <div class="row">
		                <div class="col-lg-12">
	                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                          <h2 ng-if="total_fields === 0">
                          	<div ng-bind="'REQUEST.ERROR_MESSAGE_FORM.LINE1' | translate"></div><span class="text-navy">{{get_type_selected(model_request.type_id.value).name}}</span><br><div ng-bind="'REQUEST.ERROR_MESSAGE_FORM.LINE2' | translate"></div>
                          </h2>
                          <h2 ng-if="model_form.available_contingent === 0" ng-bind="'REQUEST.ERROR_MESSAGE' | translate"></h2>
                        </div>
	                    </div>
		                </div>
			            </div>
		            </div>
		            <div ng-if="total_fields !== 0" class="form-group">
            			<formly-form model="model_form" fields="request_fields" form="form">
						     		<div class="col-lg-12 text-center float-e-margins">
					            <button class="btn btn-white" type="button" ui-sref="main.request.index" ng-bind="'FORM_BUTTON.CANCEL' | translate"></button>

					            <button  class="btn btn-success" ng-bind="'FORM_BUTTON.SAVE_CHANGE' | translate" ng-if="form.$invalid" ng-click="model_form.show_error= true"></button>

											<button type="submit" class="btn btn-success" ng-bind="'FORM_BUTTON.SAVE_CHANGE' | translate" ng-if="form.$valid" ng-click="create(form)"></button> <!--   -->
						        </div>
					        </formly-form>
				        </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
