<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="ibox">
				<div class="ibox-title">
					<div class="ibox-tools">
						<button ui-sref="{{create_route('create',request.id)}}" class="btn btn-primary btn-xs" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;<span ng-bind="'REQUEST.BUTTON.NEW' | translate"></span></button>
					</div>
				</div>
				<div class="ibox-content">
					<table-list srchttp="{{url_request('/requests_employees')}}" 
					srctype="''" view="request" viewroute='main.request.show'></table-list>
				</div>
			</div>
		</div>
	</div>
</div>
