<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-7">
      <div class="ibox">
        <div class="ibox-content">
    			<div class="row">
				    <div class="col-lg-12">
			        <div class="m-b-md">
		            <a ng-if="request.status.identifier === pendind_aprove_boss" ng-click="delete_request(request.id)" class="btn btn-white btn-xs pull-right" ng-bind="'REQUEST.SHOW.BUTTON.DELETE' | translate"></a>
		            <h3 ng-bind="request.types_requests.description"></h3>
			        </div>
			        <dl class="dl-horizontal">
		            <dt ng-bind="'REQUEST.SHOW.STATE' | translate"></dt>
		            <dd><span class="label label-primary" ng-bind="request.status.value"></span></dd>
			        </dl>
				    </div>
					</div>
					<div class="row">
				    <div class="col-lg-5">
			        <dl class="dl-horizontal">
			        	<div ng-if="date_valid(request.date_begin, 'date')">
			        		<dt ng-bind="'REQUEST.DATE_BEGIN' | translate"></dt>
		            	<dd ng-bind="date_format(request.date_begin, 'date')"></dd>	
			        	</div>
			        	<div ng-if="date_valid(request.date_begin, 'time')">
			        		<dt ng-bind="'REQUEST.HOUR_BEGIN' | translate"></dt>
		            	<dd ng-bind="date_format(request.date_begin, 'time')"></dd>	
		            	<br>
			        	</div>
		        		<div ng-if="date_valid(request.date_end, 'date')">
			            <dt ng-bind="'REQUEST.DATE_END' | translate"></dt>
			            <dd ng-bind="date_format(request.date_end, 'date')"></dd>
		            </div>
		            <div ng-if="date_valid(request.date_end, 'time')">
			            <dt ng-bind="'REQUEST.HOUR_END' | translate"></dt>
			            <dd ng-bind="date_format(request.date_end, 'time')"></dd>
			            <br>
		            </div>
		            <div ng-if="days_validate(request.days_request)">
			            <dt ng-bind="'REQUEST.REQUEST_DAYS' | translate"></dt>
			            <dd ng-bind="request.days_request | number : 0"></dd>
		            </div>
		            <div ng-if="request.file_support.url !== null">
		            	<dt ng-bind="'REQUEST.FILE_DOWNLOAD' | translate"></dt>
		            	<dd>
		            		<a ng-href="{{request.file_support.url}}" target="_blank" class="btn btn-primary btn-xs" tooltip-placement="right" uib-tooltip="{{'DEFAULT.DOWNLOAD' | translate}}"><i class="fa fa-download"></i> &nbsp;{{'DEFAULT.DOWNLOAD' | translate}}</a>	
		            	</dd>
		            </div>
			        </dl>
				    </div>
						<div class="col-lg-7">
							<dl class="dl-horizontal">
								<dt ng-bind="'REQUEST.SHOW.APPROVED' | translate"></dt>
		            <dd ng-bind="request.current_approver.short_name"></dd>
		            <dt ng-bind="'REQUEST.SHOW.APPROVED_POSITION' | translate"></dt>
		            <dd ng-bind="request.current_approver.posicion"></dd>
	            </dl>
						</div>
					</div>
					<div class="row">
				    <div class="col-lg-12">
			        <dl class="dl-horizontal">
		            <dt ng-bind="'REQUEST.OBSERVATIONS' | translate"></dt>
		            <dd ng-bind="request.observation_request"></dd>
			        </dl>
				    </div>
					</div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
  		<div class="ibox ">
        <div class="ibox-content">
          <div class="tab-content">
			        <strong ng-bind="'REQUEST.SHOW.TIMELINE.TITLE' | translate"></strong>
			        <div id="vertical-timeline" class="vertical-container dark-timeline">
			          <div class="vertical-timeline-block">
			            <div class="vertical-timeline-icon " ng-class="btn_states(request.status.identifier)[0]">
			                <i ng-class="icon_states(request.status.identifier)[0]"></i>
			            </div>
			            <div class="vertical-timeline-content">
			            	<div class="row">
		            			<div class="col-sm-12">
		            				<strong><i ng-bind="'REQUEST.SHOW.TIMELINE.CREATE_REQUEST' | translate"></i></strong>
		            			</div>
		            			<div class="col-sm-12">
		            				<span class="vertical-date text-muted" ng-bind="request.created_at | date:'dd/MM/yyyy - h:mma'"></span><hr>
		            				<span class="vertical-date small text-muted" ng-bind="request.observation_request"></span>
		            			</div>
			            	</div>
			            </div>
			          </div>
			          <div class="vertical-timeline-block">
			            <div class="vertical-timeline-icon " ng-class="btn_states(request.status.identifier)[1]">
			                <i ng-class="icon_states(request.status.identifier)[1]"></i>
			            </div>
			            <div class="vertical-timeline-content">
			            	<div class="row">
		            			<div class="col-sm-12">
		            				<strong><i ng-bind="'REQUEST.SHOW.TIMELINE.APPROVE_BOSS' | translate"></i></strong>
		            			</div>
		            			<div ng-if="request.date_first_approval !== null" class="col-sm-12">
		            				<span class="vertical-date text-muted" ng-bind="request.date_first_approval | date:'dd/MM/yyyy - h:mma'"></span><hr>
		            				<span class="vertical-date small text-muted" ng-bind="request.comment_first_approver"></span>
		            			</div>
			            	</div>
			            </div>
			          </div>
			          <div class="vertical-timeline-block">
			            <div class="vertical-timeline-icon " ng-class="btn_states(request.status.identifier)[2]">
			                <i ng-class="icon_states(request.status.identifier)[2]"></i>
			            </div>
			            <div class="vertical-timeline-content">
			            	<div class="row">
		            			<div class="col-sm-12">
		            				<strong><i ng-bind="'REQUEST.SHOW.TIMELINE.APPROVE_RH' | translate"></i></strong>
		            			</div>
		            			<div ng-if="request.date_second_approval !== null" class="col-sm-12">
		            				<span class="vertical-date text-muted" ng-bind="request.date_second_approval | date:'dd/MM/yyyy - h:mma'"></span><hr>
		            				<span class="vertical-date small text-muted" ng-bind="request.comment_second_approver"></span>
		            			</div>
			            	</div>
			            </div>
			          </div>
			        </div>
        	</div>
        </div>
      </div>
  	</div>
  </div>
</div>
