<div class="middle-box text-center animated fadeInDown">
    <h1 class="fa fa fa-lock fa-5x" ></h1>
    <h3 class="font-bold" ng-bind="'ERROR.PERMISSIONS.PAGETITLE' | translate"></h3>
    <div class="error-desc" >
        <span ng-bind="'ERROR.PERMISSIONS.DESCRIPTION' | translate"></span>
        <br>
        <br>
        <span ng-bind="'ERROR.PERMISSIONS.HELP' | translate"></span>
        <br/><a ui-sref="main.dashboard" class="btn btn-primary m-t">Inicio</a>
    </div>
</div>
