<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb
<div class="middle-box text-center animated fadeInDown">
  <h1>500</h1>
  <h3 class="font-bold" ng-bind="'ERROR.500.PAGETITLE' | translate"></h3>

  <div class="error-desc">
		<a ui-sref="main.dashboard" class="btn btn-primary m-t" ng-bind="'ERROR.500.HELP' | translate"></a>
  </div>
</div>
