<div class="formly-template-wrapper form-group" ng-class="{'has-error': options.validation.errorExistsAndShouldBeVisible}">
  <formly-transclude></formly-transclude>
  <div class="validation"
  ng-if="options.validation.errorExistsAndShouldBeVisible"
  ng-messages="options.formControl.$error">
    <div ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
      {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
    </div>
  </div>
</div>