<div class="col-sm-12 col-md-12 col-lg-12 " >
  <span class="btn btn-default btn-file" >
    <span class="col-sm-12 col-md-12 col-lg-12">
    <i><small ng-bind="description"></small></i>  </span>
  <input type="file"  ng-model="model[options.key]" >
  </span>
<div class="row">
  <span ng-if="options.formControl.$error.required" class="row text-danger" ng-bind="msg_error.required"> </span>
  <span ng-if="options.formControl.$error.fileInvalidExten" class="row text-danger" ng-bind="msg_error.file_ext_invalid"></span>
  <span ng-if="options.formControl.$error.fileInvalidSize" class="row text-danger" ng-bind="msg_error.file_size_invalid"> </span>
</div>
<br>
</div>
