<div class="form-group">
  <ol class="nya-bs-select col-sm-12 col-xs-12 col-md-12 col-lg12 form-control" ng-class="{error: options.formControl.$invalid && model['show_error'] }" ng-model="model[options.key || index]" title="Selecciona" data-size="7" data-live-search="true"  disabled="options.templateOptions.options.length === 0">
    <li nya-bs-option="option in  options.templateOptions.options group by option.group"  >
      <span class="dropdown-header" style="font-weight: bold;font-size: 15px;">{{$group}}</span>
      <a>
        <span>{{option.name}}</span>
        <span class="glyphicon glyphicon-ok check-mark"></span>
      </a>
    </li>
  </ol>
</div>
<div class="validation">
  <span class="text-danger" ng-if="options.formControl.$error.required  && model['show_error']"> {{options.templateOptions.label}} es requerido</span>
</div>
