<div>
	<label>{{to.label}} {{to.required ? "*" : ""}}</label>
	<input type="number" class="form-control" id="{{id}}" ng-model="model[options.key]" placeholder="{{data.placeholder}}" ng-required="data.required" ng-disabled="data.disabled" min="{{data.min}}" max="{{data.max}}">
	<div class="validation">
		<span class="text-danger" ng-if="options.formControl.$error.min" ng-bind="data.message_min"></span>
		<span class="text-danger" ng-if="options.formControl.$error.max" ng-bind="data.message_max"></span>
		<span class="text-danger" ng-if="options.formControl.$error.required" ng-bind="data.message_max"></span>
	</div>
</div>
