<div class="form-group">
  <label >{{options.templateOptions.label}}</label>
  <div class="onoffswitch">
    <input type="checkbox" ng-model="model[options.key]"  ng-true-value="true" ng-false-value="false" class="onoffswitch-checkbox" id="to_post"  >
    <label class="onoffswitch-label" for="to_post">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
