<div class="form-group">
    <summernote lang="es-ES" config="options" class="form-control" id="{{id}}" ng-model="model[options.key]" height="300" ng-class="{error: options.formControl.$invalid && model['show_error'] }" ></summernote>
    <div class="validation">
      <span class="text-danger" ng-if="options.formControl.$error.required  && model['show_error']" >{{options.templateOptions.label}} es requerido.</span>
    </div>
</div>
