<div class="form-group">
  <input class="col-md-12 form-control " type="text" ng-model="model[options.key]" ng-class="{error: options.formControl.$invalid && model['show_error'] }" >
</div>
<div class="validation">
  <span class="text-danger" ng-if="options.formControl.$error.required && model['show_error']"> {{options.templateOptions.label}} es requerido.</span>
  <span class="text-danger" ng-if="options.formControl.$error.minlength && model['show_error']"> {{options.templateOptions.label}}: {{options.templateOptions.minlength}} caracteres minimo.</span>
  <span class="text-danger" ng-if="options.formControl.$error.maxlength && model['show_error']"> {{options.templateOptions.label}}: {{options.templateOptions.maxlength}} caracteres maximo.</span>
</div>
<br>
