<div>
	<label>{{to.label}} {{to.required ? "*" : ""}}</label>
	<input type="text" class="form-control" id="{{id}}" ng-model="model[options.key]" placeholder="{{data.placeholder}}" ng-required="data.required" ng-disabled="data.disabled">
	<div class="validation">
		<span ng-if="options.formControl.$error.required" ng-bind="data.message"></span>
	</div>
</div>