<div class="ibox " >
  <div class="ibox-title">
    <h5 ng-bind="'MANAGEMENT_SERVICES.EMPLOYEE.TITLE' | translate"></h5>
  </div>
  <div ng-if="is_vacant(profile)">
    <div class="ibox-content  ibox-heading">
      <h3 ng-bind="'MANAGEMENT_SERVICES.EMPLOYEE.MESSAGE' | translate"></h3>
    </div>
  </div>
  <div ng-hide="is_vacant(profile)" class="ibox-content" style="min-height:495px">
    <div class="tab-content">
      <div id="contact-1" class="tab-pane active" >
        <div class="row m-b-lg">
          <div class="col-lg-12 text-center">
            <h2 ng-bind="profile.short_name"></h2>
            <div class="m-b-sm">
              <img alt="image" class="img-circle" ng-src="{{profile.image.url}}" style="width:100px; height: 100px;">
            </div>
            <p class="font-bold" ng-bind="profile.position"></p>
          </div>
        </div>
        <div > <!-- class="client-detail" -->
          <div class="full-height-scroll" full-scroll>
          <div ng-show="viewReportMovil">
            <strong ng-bind="'MANAGEMENT_SERVICES.EMPLOYEE.SERVICES_TITLE' | translate"></strong>
            <ul class="list-group clear-list">
              <li class="list-group-item fist-item">
                <span class="pull-right">
                  <button class="btn btn-default btn-xs btn-ms-report" type="button" ng-click="show_report('/absences', 'Absentismos')"><span class="bold">Ver</span></button>
                </span>
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{'MANAGEMENT_SERVICES_LIST.ABSENCES' | translate}}
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  <button class="btn btn-default btn-xs btn-ms-report" type="button" ng-click="show_report('/variance_analysis', 'Análisis de variaciones')"><span class="bold">Ver</span></button>
                </span>
                <i class="fa fa-calculator"></i>&nbsp;&nbsp;{{'MANAGEMENT_SERVICES_LIST.VARIANCE_ANALYSIS' | translate}}
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  <button class="btn btn-default btn-xs btn-ms-report" type="button" ng-click="show_report('/historical_positions', 'Histórico de cargos')"><span class="bold">Ver</span></button>
                </span>
                <i class="fa fa-users"></i>&nbsp;&nbsp;{{'MANAGEMENT_SERVICES_LIST.HISTORY_CHARGES' | translate}}
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  <button class="btn btn-default btn-xs btn-ms-report" type="button" ng-click="show_report('/historical_salaries', 'Histórico de sueldos')">Ver</button>
                </span>
                <i class="fa fa-usd"></i>&nbsp;&nbsp;{{'MANAGEMENT_SERVICES_LIST.HISTORY_SALARIES' | translate}}
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  <button class="btn btn-default btn-xs btn-ms-report" type="button" ng-click="show_report('/staff_turnover', 'Rotación de personal')">Ver</button>
                </span>
                <i class="fa fa-rotate-left"></i>&nbsp;&nbsp;{{'MANAGEMENT_SERVICES_LIST.PERSONAL_ROTATION' | translate}}
              </li>
            </ul>
            </div>
            <div ng-show="!viewReportMovil">
              <div ng-if="!is_vacant(profile) && route !== ''" class="visible-xs visible-sm visible-md">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <h5 ng-bind="report_title"></h5>
                        <span class="pull-right">
                          <button class="btn btn-default btn-xs btn-ms-report" type="button" ng-click="changeViewReportMovil()">Cerrar</button>
                        </span>
                      </div>
                        <div style="padding: 1px 1px 1px;">
                          <sort-table srchttp="{{route}}" pagesizerow="5" ></sort-table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
