<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12" style="padding-right: 5px; padding-left: 5px;">
      <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
            <subordinates-list srchttp="{{url_request('/employees/subordinates')}}" function="get_profile" ></subordinates-list>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
            <div ng-include="'views/manager_services/_employee_info.html'"></div>
          </div>
        </div>
        <div ng-if="!is_vacant(profile) && route !== ''" class="visible-lg visible-xl">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5 ng-bind="report_title"></h5>
                </div>
                <div class="ibox-content">
                  <sort-table srchttp="{{route}}" pagesizerow="5" ></sort-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
