<form role="form" class="form">
	<div class="form-group row chat-user" ng-repeat="row in groupdata">
		<div ng-repeat="element in row" ng-switch on="element.tcamp">
			<input-hidden ng-switch-when="HIDE" name="{{element.ncamp}}" id="{{element.ncamp}}" ng-model="element.ccamp" typedate="{{element.tcamp}}"></input-hidden>
	    <div class="form-group col-sm-6 col-lg-4" ng-if="element.tcamp != 'HIDE'">
        <input-text ng-switch-default label="{{element.dcamp}}" name="{{element.ncamp}}" id="{{element.ncamp}}" ng-model="element.ccamp" typedate="{{element.tcamp}}" dis="true" options="{{data_master_info[element.lstbx]}}" attrvalue="{{element.cpref | lowercase }}"  attroption="{{element.cptxt | lowercase}}"></input-text>    
        <select-options ng-switch-when="LIST" label="{{element.dcamp}}"  name="{{element.ncamp}}" id="{{element.ncamp}}" ng-model="element.ccamp" options="{{data_master_info[element.lstbx]}}" attrvalue="{{element.cpref | lowercase }}" attroption="{{element.cptxt | lowercase}}" depend="{{element.cdepd}}" attrdepend="{{element.cdref | lowercase}}" dis="true"></select-options>
	    </div>
	  </div>
	</div>
</form>