<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-4">
      <div class="profile-image">
        <img class="img-circle circle-border m-b-md" alt="profile" ng-src="{{$user.employee.image.url}}">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins" ng-bind="$user.employee.short_name | special_capitalize "></h2>
            <h4 ng-bind="basic_profile.posicion | special_capitalize "></h4>
            <small ng-bind="basic_profile.unidad_org | special_capitalize "></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <table class="table small m-b-xs">
        <tbody>
          <tr>
            <td><strong ng-bind="'PROFILE.AREA' | translate"></strong></td>
            <td ng-bind="basic_profile.area | special_capitalize "></td>
          </tr>
          <tr>
            <td><strong ng-bind="'PROFILE.DIVISION' | translate"></strong></td>
            <td ng-bind="basic_profile.division_per | special_capitalize"></td>
          </tr>
          <tr>
            <td><strong ng-bind="'PROFILE.SUB_DIVISION' | translate"></strong></td>
            <td ng-bind="basic_profile.subdivision_per | special_capitalize"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
     <div class="col-lg-3 visible-lg">
      <div class="ibox">
        <div class="ibox-content">
          <h3 ng-bind="'NAVIGATION.PROFILE_DATA' | translate"></h3>
          <ul class="list-unstyled file-list">
            <div class="hide">
              <div ng-bind="'PROFILE.DATA.CONTACT' | translate"></div>
              <div ng-bind="'PROFILE.DATA.PERSONAL' | translate"></div>
              <div ng-bind="'PROFILE.DATA.FAMILY' | translate"></div>
              <div ng-bind="'PROFILE.DATA.BENEFICIARIES' | translate"></div>
              <div ng-bind="'PROFILE.DATA.STUDIES' | translate"></div>
              <div ng-bind="'PROFILE.DATA.BUSINESS' | translate"></div>
              <div ng-bind="'PROFILE.DATA.BANKING' | translate"></div>
              <div ng-bind="'PROFILE.DATA.SOCIAL_SECURITY' | translate"></div>
              <div ng-bind="'PROFILE.DATA.TAXES' | translate"></div>
              <div ng-bind="'PROFILE.DATA.WITHHOLDING' | translate"></div>
            </div>
            <li ng-repeat="(key, value) in menu_data_master" ng-class="classOptionMenu(key,value.disabled)">
              <a ng-click='menu(key)'><i class="fa {{value.icon}} fa-2x m-r-md" style="width:15px;height:15px;text-align:center;"></i><span class="h5">&nbsp;{{value.label}}</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-9">
      <div class="ibox">
         <div class="ibox-content hidden-lg" style="height:100px">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="dropdown" ng-bind="'PROFILE.MENU' | translate"></label>
                <div class="input-group-btn" uib-dropdown >
                  <button tabindex="-1" class="col-xs-11  col-sm-11 col-md-11 btn   btn-white" type="button"  >
                    <div class="pull-left">
                      <i class="fa {{active_menu.icon}} fa-1x m-r-md"></i>
                      <span class="color-primay">{{active_menu.label}}</span>
                    </div>
                  </button>
                  <button class="btn btn-white" uib-dropdown-toggle type="button">
                    <span class="caret"></span>
                  </button>
                    <ul uib-dropdown-menu>
                      <li ng-repeat="(key, value) in menu_data_master" ng-class="classOptionMenu(key,value.disabled)">
                        <a ng-click='menu(key)'><i class="fa {{value.icon}} fa-1x m-r-md"></i><span class="h5">&nbsp;{{value.label}}</span></a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
         </div>
        <div class="ibox-content" ng-repeat="(key, groupdata) in formdata" ng-if="active_item==key" ng-include="'views/user/_form_profile.html'">
        </div>
      </div>
    </div>
  </div>
</div>
