<div class=" middle-box text-center   animated fadeInDown" style="padding-top: 75px;" >
  <div style="background-color:rgba(0,0,0,0.5); height:500px; top: 0;left: 0;right: 0;bottom: 0;z-index : 1100;">
    <div class="middle-box loginscreen" >
      <div class="row" style="padding-top: 0px;">
        <img class="img img-responsive center-block" ng-src="{{$company.logo_dashboard.url}}">
      </div>
      <p></p>
      <div ui-view></div>
      <div ng-if="!$company.login_ldap && $state.current.name != 'devise.password_edit'">
        <a ui-sref="devise.forgot_password" ng-if="$state.current.name != 'devise.forgot_password'"><small ng-bind="'LOGIN.FORGOT_PASS' | translate" style="color:white"></small></a>
        <a ui-sref="devise.login" ng-if="$state.current.name == 'devise.forgot_password'"><small ng-bind="'LOGIN.LINK_BACK_LOGIN' | translate" style="color:white"></small></a>
      </div>
      <p class="m-t">
       <div  style="color:white">
         <strong>
          <small>{{'FOOTER.APP_NAME' | translate}} |
            <strong>
             <spam >{{'FOOTER.APP_NAME_2' | translate}}</spam>
            <strong>
          </small>
         </strong>
       </div>
       <br>
        <a href="{{'FOOTER.URLHRSOLUTIONS' | translate}}" target="_blank">
           <small >
             <strong ng-bind="'FOOTER.COMPANY_NAME' | translate" style="color:white">
             </strong>
           </small>
           <small >
              <strong ng-bind="'FOOTER.YEAR' | translate" style="color:white">
              </strong>
           </small>
        </a>

      </p>
    </div>
  </div>
</div>
