<h2 class="font-bold" ng-bind="'LOGIN.TITLE_FORGOT_PASS' | translate" style="color:white"></h2>
 <p ng-bind="'LOGIN.MSG_FORGOT_PASS' | translate" style="color:white"></p>   
<form class="m-t" role="form">
  <div ng-show="view_error">
    <div class="alert alert-{{typemsg}}" >
      {{msg_response}}
    </div>
  </div>
  <formly-form model="credentials" fields="fields_forgot_pass">
    <loading-button loading="loading11" function="requestPassword" value="'LOGIN.BUTTON_RESTORE' | translate"></loading-button>
  </formly-form>
</form>