<div class="middle-box text-center  animated fadeInDown">
  <div style="background-color:rgba(0,0,0,0.5); height:500px;margin-top:10%;margin-bottom: :10%;">
    <div class="middle-box loginscreen">
      <div class="row">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          <i class="fa fa-ban fa-stack-2x color-primary" ></i>
        </span>
      </div>
      <br>
      <h3 ng-bind="data_login_user.name | special_capitalize" style="color:white"></h3>
      <br>
      <p ng-bind="'LOGIN.TITLE' | translate" style="color:white"></p>
      <form class="m-t" role="form" ng-submit="login(form)" name="form" autocomplete="off" >
        <div class="alert alert-danger" ng-show="view_error">
          <ul>
            <li class="text-justify" ng-repeat="error in msg_error">{{error}}</li>
          </ul>
        </div>
        <formly-form model="credentials" fields="fields_lockscreen" form="form">
          <button class="col-xs-12 col-md-12 col-sd-12 col-lg-12 btn btn-primary" type="button"  ng-if="!form.$valid" ng-click="credentials.show_error= true" ng-bind="'LOGIN.BUTTON' | translate"></button>
          <button class="col-xs-12 col-md-12 col-sd-12 col-lg-12 btn btn-primary" type="submit"  ng-if="form.$valid && !loading11 " ng-click="credentials.show_error= true"  ng-bind="'LOGIN.BUTTON' | translate"></button>
          <loading-button loading="loading11" ng-if="loading11" ng-bind="'LOGIN.BUTTON' | translate"></loading-button>
        </formly-form>
        <br>
        <a class="active" ui-sref="devise.login" ng-bind="'LOGIN.LOCKSCREEN.LOCKSCRENBUTTONCHANGE' | translate" style="color:white;"></a>
      </form>
      <div ng-if="!$company.login_ldap && $state.current.name != 'devise.password_edit'">
        <a ui-sref="devise.forgot_password" ng-if="$state.current.name != 'devise.forgot_password'"><small ng-bind="'LOGIN.FORGOT_PASS' | translate" style="color:white"></small></a>
        <a ui-sref="devise.login" ng-if="$state.current.name == 'devise.forgot_password'"><small ng-bind="'LOGIN.LINK_BACK_LOGIN' | translate" style="color:white"></small></a>
      </div>
      <p class="m-t">
        <div ng-bind-html="'FOOTER.APP_NAME' | translate" style="color:white"></div>
        <br>
        <small><strong ng-bind="'FOOTER.COMPANY_NAME' | translate" style="color:white"></strong></small>
        <small><strong ng-bind="'FOOTER.YEAR' | translate" style="color:white"></strong></small>
      </p>
    </div>
  </div>
</div>
