<h3 ng-bind="'LOGIN.WELCOME' | translate" style="color:white" ></h3>
<p ng-bind="'LOGIN.TITLE' | translate" style="color:white"> </p>
<form class="m-t" role="form"  ng-submit="login(form)" name="form">
  <div>
    <div class="alert alert-danger" ng-show="view_error">
      <ul>
        <li class="text-justify" ng-repeat="error in msg_error">{{error}}</li>
      </ul>
      <div class="validation">
        <span class="text-danger" ng-if="options.formControl.$error.required && model['show_error']"> {{options.templateOptions.label}} es requerido.</span>
      </div>
    </div>
  </div>
  <formly-form model="credentials" fields="fields_login" form="form" >
    <button class="col-xs-12 col-md-12 col-sd-12 col-lg-12 btn btn-primary" type="button"  ng-if="!form.$valid" ng-click="credentials.show_error= true" ng-bind="'LOGIN.BUTTON' | translate"></button>
    <button class="col-xs-12 col-md-12 col-sd-12 col-lg-12 btn btn-primary" type="submit"  ng-if="form.$valid && !loading11 " ng-click="credentials.show_error= true"  ng-bind="'LOGIN.BUTTON' | translate"></button>
    <loading-button loading="loading11" ng-show="loading11" ng-bind="'LOGIN.BUTTON' | translate"></loading-button>
  </formly-form>
</form>
