<h2 class="font-bold" ng-bind="'LOGIN.TITLE_FORGOT_PASS' | translate"></h2>
 <p ng-bind="'LOGIN.MSG_RESTART_PASSWORD' | translate"></p>   
<form class="m-t" role="form" ng-submit="resetPassword()">
  <div ng-show="view_error">
    <div class="alert alert-{{typemsg}}">
      {{msg_response}}
    </div>
  </div>
  <div class="form-group">
    <input type="password" ng-model="credentials.password" class="form-control" placeholder="{{'LOGIN.INPUT_NEW_PASSWORD' | translate}}">
  </div>         
  <div class="form-group">
    <input type="password" ng-model="credentials.password_confirmation" class="form-control" placeholder="{{'LOGIN.INPUT_CONFIRM_NEW_PASSWORD' | translate}}">
  </div>            
  <button type="submit" class="btn btn-primary block full-width m-b" ng-bind="'LOGIN.BUTTON_RESTORE' | translate"></button>
</form>