<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="" ng-if="true">
            <div class="input-group-btn" uib-dropdown>
              <button class="btn btn-white" uib-dropdown-toggle type="button">
                {{'ORGCHART.FILTER.TITLE' | translate}} <span class="caret"></span></button>
                <ul uib-dropdown-menu>
                  <div class="ibox-content">
                    <div class="row">
                      <div class="col-sm-12 ">
                        <h3 class="m-t-none m-b">{{'ORGCHART.FILTER.SEARCH' | translate}}</h3>
                        <p>{{'ORGCHART.FILTER.LABEL' | translate}} </p>
                        <form role="form">
                          <div class="form-group">
                            <div class="input-group">
                              <div angucomplete-alt
                              id="ex5"
                              placeholder="Buscar"
                              pause="500"
                              selected-object="selectObjet"
                              remote-api-handler="searchAPI"
                              remote-url-data-field=""
                              title-field="short_name"
                              description-field="description"
                              image-field="image.url"
                              minlength="3"
                              text-searching="Buscando Empleado"
                              text-no-results="No encontrado."
                              input-class="form-control form-control-small"
                              match-class="highlight">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <div id="chart-container" name="chart-container" class="chart-container col-xs-12 col-md-12 col-lg-12" style="height:540px; background-image: url({{$company.image_organizate_chart.url}} ); background-color:#F4F6F6 ">
            <div class=" error_500 middle-box text-center animated fadeInDown" ng-if="show_error" style="margin-top: 10px;">
              <h1 class="fa fa fa-lock fa-5x" ></h1>
              <h3 class="font-bold" ng-bind="'ERROR.PERMISSIONS.PAGETITLE' | translate"></h3>
              <div class="error-desc" >
                <span ng-bind="'ERROR.PERMISSIONS.DESCRIPTION' | translate"></span>
                <br><br><br/>
                <button type="button" ng-click="restar()" class="btn btn-primary m-t" ng-bind="'FORM_BUTTON.RESTORE' | translate"></button >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
