<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-7">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="row ">
                <h2 ng-bind="'DETAIL_REQUEST.APPLICANT.TITLE' | translate"> </h2>
              </div>
              <div class="col-lg-12 text-center">
                <h4 ng-bind="request.employee.short_name"></h4>
                <div class="m-b-sm">
                  <img alt="image" class="img-circle" ng-src="{{request.employee.image.url}}" style="width:100px; height: 100px;">
                </div>
                <dl class="dl-horizontal">
                  <h4 ng-bind="request.employee.position"></h4>
                </dl>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <h3 ng-bind="request.types_requests.description"></h3>
              </div>
              <div class="ibox-content" ng-if='ischeckVaca(request.type_request.identifier)'>
                <div gantt data="data_gantt" allow-side-resizing="false" headers="header" current-date="getToday" daily show-side="false"
                headers-formats="headersFormats" column-width="column_width" >
                  <gantt-tooltips content='contentTool' date-format='formattooltips'></gantt-tooltips>
                </div>
              </div>
              <dl class="dl-horizontal">
                <dt ng-bind="'REQUEST.SHOW.STATE' | translate"></dt>
                <dd><span class="label label-primary" ng-bind="request.status.value"></span></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <dl class="dl-horizontal">
                <dt ng-bind="'DETAIL_REQUEST.TYPE.DATE_BEGIN' | translate"></dt>
                <dd ng-bind="request.date_begin | date:dd/MM/yyyy"></dd>
                <dt ng-bind="'DETAIL_REQUEST.TYPE.CREATED_AT' | translate"></dt>
                <dd ng-bind="request.created_at | date:dd/MM/yyyy"></dd>
              </dl>
            </div>
            <div class="col-lg-8">
              <dl class="dl-horizontal">
                <dt ng-bind="'DETAIL_REQUEST.TYPE.DATE_END' | translate"></dt>
                <dd ng-bind="request.date_end | date:dd/MM/yyyy"></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <dl class="dl-horizontal">
                <dt ng-bind="'DETAIL_REQUEST.TYPE.MOTIVE' | translate"></dt>
                <dd ng-bind="request.observation_request"></dd>
              </dl>
            </div>
          </div>
          <hr ng-if="request.status.identifier == 'ReqEmpStaPenAproJef'">
          <div class="row" ng-if="request.status.identifier == 'ReqEmpStaPenAproJef'">
            <div class="col-lg-12">
              <dl class="dl-horizontal">
                <formly-form model="model_approved" fields="fields" form="form"></formly-form>
              </dl>
            </div>
          </div>
          <div class="row" ng-if="request.status.identifier == 'ReqEmpStaPenAproJef'">
            <div class="text-center float-e-margins">
              <button type="button" class="btn btn-white" ng-click="approved_request('denegate')" ng-bind="'FORM_BUTTON.DENY' | translate"></button>
              <button class="btn btn-success" type="button" ng-click="approved_request('approved')" ng-bind="'FORM_BUTTON.APPROVED' | translate"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="ibox ">
        <div class="ibox-content">
          <div class="tab-content">
            <strong ng-bind="'REQUEST.SHOW.TIMELINE.TITLE' | translate"></strong>
            <div id="vertical-timeline" class="vertical-container dark-timeline">
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon" ng-class="btn_states(request.status.identifier)[0]">
                  <i ng-class="icon_states(request.status.identifier)[0]"></i>
                </div>
                <div class="vertical-timeline-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <strong><i ng-bind="'REQUEST.SHOW.TIMELINE.CREATE_REQUEST' | translate"></i></strong>
                    </div>
                    <div class="col-sm-12">
                      <span class="vertical-date text-muted" ng-bind="request.created_at | date:'dd/MM/yyyy - h:mma'"></span><hr>
                      <span class="vertical-date small text-muted" ng-bind="request.observation_request"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon " ng-class="btn_states(request.status.identifier)[1]">
                  <i ng-class="icon_states(request.status.identifier)[1]"></i>
                </div>
                <div class="vertical-timeline-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <strong><i ng-bind="'REQUEST.SHOW.TIMELINE.APPROVE_BOSS' | translate"></i></strong>
                    </div>
                    <div ng-if="request.date_first_approval !== null" class="col-sm-12">
                      <span class="vertical-date text-muted" ng-bind="request.date_first_approval | date:'dd/MM/yyyy - h:mma'"></span><hr>
                      <span class="vertical-date small text-muted" ng-bind="request.comment_first_approver"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon " ng-class="btn_states(request.status.identifier)[2]">
                  <i ng-class="icon_states(request.status.identifier)[2]"></i>
                </div>
                <div class="vertical-timeline-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <strong><i ng-bind="'REQUEST.SHOW.TIMELINE.APPROVE_RH' | translate"></i></strong>
                    </div>
                    <div ng-if="request.date_second_approval !== null" class="col-sm-12">
                      <span class="vertical-date text-muted" ng-bind="request.date_second_approval | date:'dd/MM/yyyy - h:mma'"></span><hr>
                      <span class="vertical-date small text-muted" ng-bind="request.comment_second_approver"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
