<ng-breadcrumb alist="{{$state.current.data.breadcrumb}}"></ng-breadcrumb>
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="tabs-container">
				<uib-tabset>
					<uib-tab ng-if="$user.employee.is_first_approver">
						<uib-tab-heading >
							<i class="fa fa-laptop" ng-bind="'APPROVED.DIRECT_BOSS.TAB' | translate"></i><span class="label label-primary" ng-bind="first.pending.length"></span>
						</uib-tab-heading>
						<div class="">
							<div class="ibox">
								<div class="ibox-content">
									<table-list srchttp="{{url_request('/approvals')}}" srctype="'first'" viewroute='main.approved.show' view="approved"></table-list>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-if="$user.employee.is_second_approver">
						<uib-tab-heading >
							<i class="fa fa-desktop" ng-bind="'APPROVED.HHRR.TAB' | translate"></i><span class="label label-primary " ng-bind="second.pending.length"></span>
						</uib-tab-heading>
						<div class="">
							<div class="ibox">
								<div class="ibox-content">
									<table-list srchttp="{{url_request('/approvals')}}" srctype="'second'" viewroute='main.approved.show' view="approved"></table-list>
								</div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
				<div ng-if="second.pending.length==0 && second.managed.length==0 && first.pending.length==0 && first.managed.length==0" class="ibox-content ibox-heading" >
					<h3>Estimado colaborador!</h3>
					<small><i class="fa fa-table"></i> No existen datos asociados.</small>
				</div>
			</div>
		</div>
	</div>
</div>
