<div class="footer">
	<div class="pull-right">
		<div class="hide">
			<!-- Visualizacion de las variables objeto (Ayuda para @Enrique) -->
			<div ng-bind="'FOOTER.COMPANY_NAME' | translate"></div>
			<div ng-bind="'FOOTER.APP_NAME_2' | translate"></div>
			<div ng-bind="'FOOTER.YEAR' | translate"></div>
		</div>
		<strong><a href="{{'FOOTER.URLHRSOLUTIONS' | translate}}" target="_blank">{{'FOOTER.COMPANY_NAME' | translate}}
		</a> -</strong>
		<strong >{{'FOOTER.APP_NAME_2' | translate}} &nbsp; {{'FOOTER.YEAR' | translate}}</strong> 
  </div>
</div>
