<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header"
			style="background: url('{{$company.background_header_menu.url}}') no-repeat;padding:15px 25px;">
				<div class="profile-element" uib-dropdown>
					<img alt="image" class="img-circle " ng-src="{{$user.employee.image.url}}" style="height: 60px;width: 60px;">
					<a uib-dropdown-toggle href>
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold">{{$user.employee.short_name}}</strong>
								<b class="caret"></b>
							</span>
							<span class="block m-t-xs">
								<small>{{$user.employee.posicion | special_capitalize}}</small>
							</span>
						</span>
					</a>
					<ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
						<li><a ui-sref="main.profile"  ng-click="minimalize()"  ng-bind="'NAVIGATION.HEADER.PROFILE' | translate"></a></li>
						<li><a ng-click="logout()" ng-bind="'NAVIGATION.HEADER.LOGOUT' | translate"></a></li>
					</ul>
				</div>
				<div class="logo-element">iHR</div>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="main.dashboard"  ng-click="minimalize()" ><i class="fa fa-laptop fa-lg"></i> <span class="nav-label" ng-bind="'NAVIGATION.DASHBOARD' | translate"></span> </a>
			</li>
			<!-- ng-if="$company.show_organizate_chart && $user.employee.see_organ " -->
			<li  ng-if="($company.show_organizate_chart === true && $user.employee.see_organ === 'true')  " ng-class="{active: $state.includes('main.orgchart')}">
	      <a ui-sref="main.orgchart"  ng-click="minimalize()" >
	        <i class="fa fa-sitemap fa-lg "></i>
	        <span class="nav-label" ng-bind="'NAVIGATION.ORGCHART' | translate" ></span>
				</a>
	    </li>
			<li ui-sref-active="active">
				<a ui-sref="main.profile"  ng-click="minimalize()" ><i class="fa fa-user fa-lg"></i> <span class="nav-label" ng-bind="'NAVIGATION.PROFILE_DATA' | translate"></span> </a>
			</li>
			<li ng-if="$company.show_certificates_labor || $company.show_certificates_vacations || $company.show_certificates_payroll || $company.show_certificates_income" ui-sref-active="active">
				<a ui-sref="main.certificates" ><i class="fa fa-file fa-lg"></i> <span class="nav-label" ng-bind="'NAVIGATION.AUTOSERVICE' | translate"></span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('main.certificates')}">
					<li ng-if="$company.show_certificates_labor" ui-sref-active="active"><a ui-sref="main.certificates.labor" ng-click="minimalize()">{{'NAVIGATION.AUTOSERVICE_LIST.LABOR' | translate}}</a></li>
					<li ng-if="$company.show_certificates_vacations" ui-sref-active="active"><a ui-sref="main.certificates.vacations" ng-click="minimalize()" ng-bind="'NAVIGATION.AUTOSERVICE_LIST.VACATION' | translate"></a></li>
					<li ng-if="$company.show_certificates_payroll" ui-sref-active="active"><a ui-sref="main.certificates.payroll" ng-click="minimalize()" ng-bind="'NAVIGATION.AUTOSERVICE_LIST.PAYROLL' | translate"></a></li>
					<li ng-if="$company.show_certificates_income" ui-sref-active="active"><a ui-sref="main.certificates.income" ng-click="minimalize()" ng-bind="'NAVIGATION.AUTOSERVICE_LIST.INCOME' | translate"></a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="main.consultations" ><i class="fa fa-paste fa-lg"></i> <span class="nav-label" ng-bind="'NAVIGATION.CONSULTATION' | translate"></span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('main.consultations')}">
						<!--
						<li ng-repeat="route in consultations_routes | orderBy:'name'" ui-sref-active="active">
							<a ui-sref="{{route.url}}" ng-bind="route.name"></a>
						</li>
					-->
					<li ui-sref-active="active"><a ui-sref="main.consultations.income_and_deductions" ng-click="minimalize()"  ng-bind="'NAVIGATION.CONSULTATION_LIST.INCOME_AND_DEDUCTIONS' | translate"></a></li>
					<li ui-sref-active="active"><a ui-sref="main.consultations.payments_and_deductions" ng-click="minimalize()"  ng-bind="'NAVIGATION.CONSULTATION_LIST.PAYMENT_AND_DEDUCTIONS' | translate"></a></li>
					<li ui-sref-active="active"><a ui-sref="main.consultations.seizures" ng-click="minimalize()"  ng-bind="'NAVIGATION.CONSULTATION_LIST.SEIZURES' | translate"></a></li>
					<li ng-if="$company.show_loans" ui-sref-active="active"><a ui-sref="main.consultations.loans" ng-click="minimalize()"  ng-bind="'NAVIGATION.CONSULTATION_LIST.LOANS' | translate"></a></li>
					<li ng-if="$company.show_vacations" ui-sref-active="active"><a ui-sref="main.consultations.enjoyed_vacations"  ng-click="minimalize()" ng-bind="'NAVIGATION.CONSULTATION_LIST.ENJOYED_VACATIONS' | translate"></a></li>
					<li ng-if="$company.show_vacations_c" ui-sref-active="active"><a ui-sref="main.consultations.compensatory_vacations" ng-click="minimalize()"  ng-bind="'NAVIGATION.CONSULTATION_LIST.COMPENSATORY_VACATIONS' | translate"></a></li>
					<li ui-sref-active="active"><a ui-sref="main.consultations.balance_vacations"  ng-click="minimalize()" ng-bind="'NAVIGATION.CONSULTATION_LIST.BALANCE_VACATIONS' | translate"></a></li>
					<li ng-if="$company.show_licenses" ui-sref-active="active"><a ui-sref="main.consultations.permissions"  ng-click="minimalize()" ng-bind="'NAVIGATION.CONSULTATION_LIST.PERMISSIONS' | translate"></a></li>
					<li ng-if="$company.show_inhabilities" ui-sref-active="active"><a ui-sref="main.consultations.incapacities" ng-click="minimalize()"  ng-bind="'NAVIGATION.CONSULTATION_LIST.INCAPACITIES' | translate"></a></li>
					<!--(Eliminacion Temporal) <li ui-sref-active="active"><a ui-sref="main.consultations.extra_hour_records" ng-bind="'NAVIGATION.CONSULTATION_LIST.EXTRA_HOURS' | translate"></a></li>-->
				</ul>
			</li>
			<li ui-sref-active="active" ng-if="$company.show_services_management && user.employee.see_rpgen === 'true'">
				<a ui-sref="main.manager_services"  ng-click="minimalize()"><i class="fa fa-line-chart fa-lg"></i> <span class="nav-label"  ng-click="minimalize()" ng-bind="'NAVIGATION.MANAGER_SERVICE' | translate"></span> </a>
			</li>
			<li ng-if="$company.show_articles" ng-class="{active: $state.includes('main.content.all')}">
				<a ui-sref="main.content.all"  ng-click="minimalize()" ><i class="fa fa-bullhorn fa-lg"></i> <span class="nav-label" ng-bind="'NAVIGATION.CONTENT_MANAGER' | translate"></span> </a>
			</li>
			<li ng-if="$company.make_request" ng-class="{active: $state.includes('main.request.index')}">
				<a ui-sref="main.request.index"  ng-click="minimalize()">
					<i class="fa fa-edit fa-lg"></i>
					<span class="nav-label" ng-bind="'NAVIGATION.REQUEST' | translate"></span>
					<span class="pull-right label label-success">BETA</span>
				</a>
			</li>
			<li ng-if="$company.make_approvals && ($user.employee.is_first_approver || $user.employee.is_second_approver)" ng-class="{active: $state.includes('main.approved.index')}">
				<a ui-sref="main.approved.index"  ng-click="minimalize()" >
					<i class="fa fa-check-square-o fa-lg "></i>
					<span class="nav-label" ng-bind="'NAVIGATION.APPROVED' | translate"></span>
					<span class="pull-right label  label-success">BETA</span>
				</a>
			</li>

			<li ng-if="$company.show_document_management" ng-class="{active: $state.includes('main.document_management.index')}">
				<a ui-sref="main.document_management.index" ng-click="minimalize()">
					<i class="fa fa-folder-open-o fa-lg"></i>
					<span class="nav-label" ng-bind="'NAVIGATION.DOCUMENT_MANAGEMENT' | translate"></span>
				</a>
			</li>
			<li ng-class="{active: $state.includes('main.help.index')}">
				<a ui-sref="main.help.index" ng-click="minimalize()">
					<i class="fa fa-question-circle fa-lg "></i>
					<span class="nav-label" ng-bind="'NAVIGATION.HELP' | translate"></span>
				</a>
			</li>
		</ul>
	</div>

</nav>
