<div class="border-bottom">
  <nav class="row navbar navbar-static-top form-inline" role="navigation" style="margin-bottom: 0;">
    <div class="form-group">
      <span minimaliza-sidebar></span>
      <div class="form-group pull-left">
        <img class="img img-responsive" ng-src="{{$company.logo_inside.url}}" style="max-width:220px;max-height: 40px; margin-top: 10px;">
      </div>
    </div>
    <ul class="nav navbar-top-links navbar-right navbar-logout">
      <li>
        <a ng-click="logout()"><i class="fa fa-sign-out"></i>{{'NAVIGATION.HEADER.LOGOUT' | translate}}
        </a>
      </li>
    </ul>
  </nav>
</div>